bibtexml/schema/bibtexmlHandwritten.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- File: $Id$ -->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:bibtex="http://bibtexml.sf.net/"
    targetNamespace="http://bibtexml.sf.net/"
    elementFormDefault="qualified">

<annotation>
  <documentation xml:lang="en"><![CDATA[

  This schema expresses XML markup similar to the BibTeX language
  specified for LaTeX, or actually its content model.
  For documentation on BibTeX, see
    http://www.ctan.org/tex-archive/biblio/bibtex/distribs/doc/

  Suggested invocation:

    <?xml version="1.0" encoding="UTF-8"?>
    <bibtex:file xmlns:bibtex="http://bibtexml.sf.net/
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://bibtexml.sf.net/ bibtexml.xsd">
    ...
    </bibtex:file>

  Available from  http://bibtexml.sf.net/

  This code originally developed by
    Vidar Bronken Gundersen
    Zeger W. Hendrikse

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License.
  See  http://www.gnu.org/copyleft/gpl.html

  Todo:
    Make fully modular and reusable.

  ]]></documentation>
</annotation>

<!-- Document top element -->
<element name="file">
  <complexType>
    <sequence>
      <element ref="bibtex:entry" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>
</element>

<!--
    .....................................................................
    Main structure
-->

<group name="BibTeXML.standard.entries.class">
  <annotation>
    <documentation xml:lang="en">
      Each entry may contain one of the bibliographic types.
    </documentation>
  </annotation>
  <choice>
    <element ref="bibtex:article" />
    <element ref="bibtex:book" />
    <element ref="bibtex:booklet" />
    <element ref="bibtex:manual" />
    <element ref="bibtex:techreport" />
    <element ref="bibtex:mastersthesis" />
    <element ref="bibtex:phdthesis" />
    <element ref="bibtex:inbook" />
    <element ref="bibtex:incollection" />
    <element ref="bibtex:proceedings" />
    <element ref="bibtex:inproceedings" />
    <element ref="bibtex:conference" />
    <element ref="bibtex:unpublished" />
    <element ref="bibtex:misc" />
  </choice>
</group>
<complexType name="BibTeXML.entries.class">
  <sequence>
    <group ref="bibtex:BibTeXML.standard.entries.class" minOccurs="0" />
  </sequence>
</complexType>
<element name="entry">
  <complexType>
    <complexContent>
      <extension base="bibtex:BibTeXML.entries.class">
        <attributeGroup ref="bibtex:attlist.entry" />
      </extension>
    </complexContent>
  </complexType>
</element>
<attributeGroup name="attlist.entry">
  <attribute name="id" use="required" type="ID" />
</attributeGroup>

<!--
    .....................................................................
    Parameter entities
-->

<group name="BibTeXML.standard.common.fields.class">
  <annotation>
    <documentation xml:lang="en">
      Additional elements often used, but not included in
      the standard BibTeX distribution, these must be added to the
      bibliography styles, otherwise these fields will be omitted by
      the formatter.
    </documentation>
  </annotation>
  <sequence>
    <element minOccurs="0" ref="bibtex:key" />
    <element minOccurs="0" ref="bibtex:crossref" />
  </sequence>
</group>

<element name="BibTeXML.common.fields.class"
         type="bibtex:common.fields.type" abstract="true"
         substitutionGroup="BibTeXML.common.fields.class"/>

<complexType name="common.fields.type">
  <sequence>
    <group ref="bibtex:BibTeXML.standard.common.fields.class" minOccurs="0" />
  </sequence>
</complexType>

<!--
    .....................................................................
    Entries in the BibTeX database
-->

<group name="BibTeXML.article.standard.fields">
  <annotation>
    <documentation xml:lang="en">
      [article] An article from a journal or magazine.
      Required fields: author, title, journal, year.
      Optional fields: volume, number, pages, month, note.
    </documentation>
  </annotation>
  <sequence>
    <element ref="bibtex:author"/>
    <element ref="bibtex:title"/>
    <element ref="bibtex:journal"/>
    <element ref="bibtex:year"/>
    <element minOccurs="0" ref="bibtex:volume"/>
    <element minOccurs="0" ref="bibtex:number"/>
    <element minOccurs="0" ref="bibtex:pages"/>
    <element minOccurs="0" ref="bibtex:month"/>
    <element minOccurs="0" ref="bibtex:note"/>
  </sequence>
</group>
<element name="article">
  <complexType>
    <sequence>
      <group ref="bibtex:BibTeXML.article.standard.fields"/>
      <group ref="bibtex:BibTeXML.common.fields.class"/>
    </sequence>
  </complexType>
</element>

  <group name="BibTeXML.book.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[book] A book with an explicit publisher.
  Required fields: author or editor, title, publisher, year.
  Optional fields: volume or number, series, address,
     edition, month, note.</documentation>
    </annotation>
    <sequence>
      <choice>
        <element ref="bibtex:author" />
        <element ref="bibtex:editor" />
      </choice>
      <element ref="bibtex:title" />
      <element ref="bibtex:publisher" />
      <element ref="bibtex:year" />
      <choice minOccurs="0">
        <element ref="bibtex:volume" />
        <element ref="bibtex:number" />
      </choice>
      <element minOccurs="0" ref="bibtex:series" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:edition" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="book">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.book.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.booklet.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[booklet] A work that is printed and bound, but without a named
  publisher or sponsoring institution
  Required field: title.
  Optional fields: author, howpublished, address, month, year, note.
      </documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element minOccurs="0" ref="bibtex:howpublished" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="booklet">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.booklet.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.inbook.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[inbook] A part of a book, which may be a chapter (or section or
  whatever) and/or a range of pages.
  Required fields: author or editor, title, chapter and/or pages,
     publisher, year.
  Optional fields: volume or number, series, type, address,
     edition, month, note.</documentation>
    </annotation>
    <sequence>
      <choice>
        <element ref="bibtex:author" />
        <element ref="bibtex:editor" />
      </choice>
      <element ref="bibtex:title" />
      <choice>
        <sequence>
          <element ref="bibtex:chapter" />
          <element minOccurs="0" ref="bibtex:pages" />
        </sequence>
        <element ref="bibtex:pages" />
      </choice>
      <element ref="bibtex:publisher" />
      <element ref="bibtex:year" />
      <choice minOccurs="0">
        <element ref="bibtex:volume" />
        <element ref="bibtex:number" />
      </choice>
      <element minOccurs="0" ref="bibtex:series" />
      <element minOccurs="0" ref="bibtex:type" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:edition" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="inbook">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.inbook.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.incollection.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[incollection] A part of a book having its own title.
  Required fields: author, title, booktitle, publisher, year.
  Optional fields: editor, volume or number, series, type,
     chapter, pages, address, edition, month, note.</documentation>
    </annotation>
    <sequence>
      <element ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element ref="bibtex:booktitle" />
      <element ref="bibtex:publisher" />
      <element ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:editor" />
      <choice minOccurs="0">
        <element ref="bibtex:volume" />
        <element ref="bibtex:number" />
      </choice>
      <element minOccurs="0" ref="bibtex:series" />
      <element minOccurs="0" ref="bibtex:type" />
      <element minOccurs="0" ref="bibtex:chapter" />
      <element minOccurs="0" ref="bibtex:pages" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:edition" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="incollection">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.incollection.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.inproceedings.common.fields">
    <annotation>
      <documentation xml:lang="en">
[inproceedings] An article in a conference proceedings.
  Required fields: author, title, booktitle, year.
  Optional fields: editor, volume or number, series, pages,
     address, month, organization, publisher, note.</documentation>
    </annotation>
    <sequence>
      <element ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element ref="bibtex:booktitle" />
      <element ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:editor" />
      <choice minOccurs="0">
        <element ref="bibtex:volume" />
        <element ref="bibtex:number" />
      </choice>
      <element minOccurs="0" ref="bibtex:series" />
      <element minOccurs="0" ref="bibtex:pages" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:organization" />
      <element minOccurs="0" ref="bibtex:publisher" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <group name="BibTeXML.inproceedings.standard.fields">
    <sequence>
      <group ref="bibtex:BibTeXML.inproceedings.common.fields" />
    </sequence>
  </group>
  <element name="inproceedings">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.inproceedings.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.conference.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[conference] The same as INPROCEEDINGS,
  included for Scribe compatibility.
      </documentation>
    </annotation>
    <sequence>
      <group ref="bibtex:BibTeXML.inproceedings.common.fields" />
    </sequence>
  </group>
  <element name="conference">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.conference.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.manual.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[manual] Technical documentation
  Required field: title.
  Optional fields: author, organization, address,
     edition, month, year, note.</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element minOccurs="0" ref="bibtex:organization" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:edition" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="manual">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.manual.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.thesis.common.fields">
    <sequence>
      <element ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element ref="bibtex:school" />
      <element ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:type" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>

  <group name="BibTeXML.mastersthesis.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[mastersthesis] A Master's thesis.
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.
      </documentation>
    </annotation>
    <sequence>
      <group ref="bibtex:BibTeXML.thesis.common.fields" />
    </sequence>
  </group>
  <element name="mastersthesis">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.mastersthesis.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.phdthesis.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[phdthesis] A PhD thesis.
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.
      </documentation>
    </annotation>
    <sequence>
      <group ref="bibtex:BibTeXML.thesis.common.fields" />
    </sequence>
  </group>
  <element name="phdthesis">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.phdthesis.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.misc.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[misc] Use this type when nothing else fits.
  Required fields: none.
  Optional fields: author, title, howpublished, month, year, note.
      </documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" ref="bibtex:author" />
      <element minOccurs="0" ref="bibtex:title" />
      <element minOccurs="0" ref="bibtex:howpublished" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="misc">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.misc.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.proceedings.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[proceedings] The proceedings of a conference.
  Required fields: title, year.
  Optional fields: editor, volume or number, series,
     address, month, organization, publisher, note.</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" ref="bibtex:editor" />
      <element ref="bibtex:title" />
      <element ref="bibtex:year" />
      <choice minOccurs="0">
        <element ref="bibtex:volume" />
        <element ref="bibtex:number" />
      </choice>
      <element minOccurs="0" ref="bibtex:series" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:organization" />
      <element minOccurs="0" ref="bibtex:publisher" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="proceedings">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.proceedings.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.techreport.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[techreport] A report published by a school or other institution,
  usually numbered within a series.
  Required fields: author, title, institution, year.
  Optional fields: type, number, address, month, note.</documentation>
    </annotation>
    <sequence>
      <element ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element ref="bibtex:institution" />
      <element ref="bibtex:year" />
      <element minOccurs="0" ref="bibtex:type" />
      <element minOccurs="0" ref="bibtex:number" />
      <element minOccurs="0" ref="bibtex:address" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:note" />
    </sequence>
  </group>
  <element name="techreport">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.techreport.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

  <group name="BibTeXML.unpublished.standard.fields">
    <annotation>
      <documentation xml:lang="en">
[unpublished] A document having an author and title, but not
  formally published.
  Required fields: author, title, note.
  Optional fields: month, year.</documentation>
    </annotation>
    <sequence>
      <element ref="bibtex:author" />
      <element ref="bibtex:title" />
      <element ref="bibtex:note" />
      <element minOccurs="0" ref="bibtex:month" />
      <element minOccurs="0" ref="bibtex:year" />
    </sequence>
  </group>
  <element name="unpublished">
    <complexType>
      <sequence>
        <group ref="bibtex:BibTeXML.unpublished.standard.fields" />
        <group ref="bibtex:BibTeXML.common.fields.class" />
        </sequence>
    </complexType>
  </element>

<!--
    .....................................................................
    Metadata fields for each bibliographic entry
-->

  <group name="BibTeXML.all.standard.fields">
    <annotation>
      <documentation xml:lang="en">
Fields from the standard bibliography styles.
  Below follows fields recognized by the standard bibliography
  styles. An entry can also contain other fields, which are
  ignored by those styles. Included in the schema to enable reuse
  into a flat BibTeX markup scheme.</documentation>
    </annotation>
    <sequence>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element ref="bibtex:address" />
        <element ref="bibtex:annote" />
        <element ref="bibtex:author" />
        <element ref="bibtex:booktitle" />
        <element ref="bibtex:chapter" />
        <element ref="bibtex:crossref" />
        <element ref="bibtex:edition" />
        <element ref="bibtex:editor" />
        <element ref="bibtex:howpublished" />
        <element ref="bibtex:institution" />
        <element ref="bibtex:journal" />
        <element ref="bibtex:key" />
        <element ref="bibtex:month" />
        <element ref="bibtex:note" />
        <element ref="bibtex:number" />
        <element ref="bibtex:organization" />
        <element ref="bibtex:pages" />
        <element ref="bibtex:publisher" />
        <element ref="bibtex:school" />
        <element ref="bibtex:series" />
        <element ref="bibtex:title" />
        <element ref="bibtex:type" />
        <element ref="bibtex:volume" />
        <element ref="bibtex:year" />
      </choice>
    </sequence>
  </group>
  <element name="address" type="string">
    <annotation>
      <documentation xml:lang="en">
[address] Usually the address of the publisher or other type of
  institution  For major publishing houses, van~Leunen recommends
  omitting the information entirely.  For small publishers, on the other
  hand, you can help the reader by giving the complete address.
      </documentation>
    </annotation>
  </element>
  <element name="author" type="string">
    <annotation>
      <documentation xml:lang="en">
[author] The name(s) of the author(s),
  in the format described in the LaTeX book.</documentation>
    </annotation>
  </element>
  <element name="booktitle" type="string">
    <annotation>
      <documentation xml:lang="en">
[booktitle] Title of a book, part of which is being cited.  See the
  LaTeX book for how to type titles.  For book entries, use the title
  field instead.</documentation>
    </annotation>
  </element>
  <element name="chapter" type="positiveInteger">
    <annotation>
      <documentation xml:lang="en">
[chapter] A chapter (or section or whatever) number.
      </documentation>
    </annotation>
  </element>
  <element name="edition">
    <annotation>
      <documentation xml:lang="en">
[edition] The edition of a book-for example, ``Second''.  This
  should be an ordinal, and should have the first letter capitalized, as
  shown here; the standard styles convert to lower case when necessary.
      </documentation>
    </annotation>
    <simpleType>
      <restriction base="string">
        <pattern value="[A-Z].*" />
      </restriction>
    </simpleType>
  </element>
  <element name="editor" type="string">
    <annotation>
      <documentation xml:lang="en">
[editor] Name(s) of editor(s), typed as indicated in the LaTeX book.
  If there is also an author field, then the editor field gives the
  editor of the book or collection in which the reference appears.
      </documentation>
    </annotation>
  </element>
  <element name="howpublished" type="string">
    <annotation>
      <documentation xml:lang="en">
[howpublished] How something strange has been published.
  The first word should be capitalized.
      </documentation>
    </annotation>
  </element>
  <element name="institution" type="string">
    <annotation>
      <documentation xml:lang="en">
[institution] The sponsoring institution of a technical report.
      </documentation>
    </annotation>
  </element>
  <element name="journal" type="string">
    <annotation>
      <documentation xml:lang="en">
[journal] A journal name.  Abbreviations are provided for many
  journals; see the Local Guide.
      </documentation>
    </annotation>
  </element>
  <element name="month">
    <annotation>
      <documentation xml:lang="en">
[month] The month in which the work was published or, for an
  unpublished work, in which it was written. You should use the
  standard three-letter abbreviation, as described in Appendix B.1.3 of
  the LaTeX book.
  The schema also allows a two digit month format, e.g. 05 (for May).
      </documentation>
    </annotation>
    <simpleType>
      <union memberTypes="bibtex:monthStringType gMonth" />
    </simpleType>
  </element>
  <simpleType name="monthStringType">
    <restriction base="string">
      <enumeration value="Jan" />
      <enumeration value="Feb" />
      <enumeration value="Mar" />
      <enumeration value="Apr" />
      <enumeration value="May" />
      <enumeration value="Jun" />
      <enumeration value="Jul" />
      <enumeration value="Aug" />
      <enumeration value="Sep" />
      <enumeration value="Oct" />
      <enumeration value="Nov" />
      <enumeration value="Dec" />
    </restriction>
  </simpleType>
  <element name="note" type="string">
    <annotation>
      <documentation xml:lang="en">
[note] Any additional information that can help the reader.
  The first word should be capitalized.
      </documentation>
    </annotation>
  </element>
  <element name="number" type="string">
    <annotation>
      <documentation xml:lang="en">
[number] The number of a journal, magazine, technical report, or of a
  work in a series.  An issue of a journal or magazine is usually
  identified by its volume and number; the organization that issues a
  technical report usually gives it a number; and sometimes books are
  given numbers in a named series.</documentation>
    </annotation>
  </element>
  <element name="organization" type="string">
    <annotation>
      <documentation xml:lang="en">
[organization] The organization that sponsors a conference or that
  publishes a manual.</documentation>
    </annotation>
  </element>
  <element name="pages">
    <annotation>
      <documentation xml:lang="en">
[pages] One or more page numbers or range of numbers, such as 42-111
  or 7,41,73-97 or 43+ (the `+' in this last example indicates pages
  following that don't form a simple range).  To make it easier to
  maintain Scribe-compatible databases, the standard styles convert a
  single dash (as in 7-33) to the double dash used in TeX to denote
  number ranges (as in 7-33).</documentation>
    </annotation>
    <simpleType>
      <restriction base="string">
        <pattern value="[0-9]+((-{0,2}|–|,)[0-9]+)*\+?" />
      </restriction>
    </simpleType>
  </element>
  <element name="publisher" type="string">
    <annotation>
      <documentation xml:lang="en">
[publisher] The publisher's name.</documentation>
    </annotation>
  </element>
  <element name="school" type="string">
    <annotation>
      <documentation xml:lang="en">
[school] The name of the school where a thesis was written
      </documentation>
    </annotation>
  </element>
  <element name="series" type="string">
    <annotation>
      <documentation xml:lang="en">
[series] The name of a series or set of books.  When citing an entire
  book, the the title field gives its title and an optional series field
  gives the name of a series or multi-volume set in which the book is
  published.</documentation>
    </annotation>
  </element>
  <element name="title" type="string">
    <annotation>
      <documentation xml:lang="en">
[title] The work's title, typed as explained in the LaTeX book.
      </documentation>
    </annotation>
  </element>
  <element name="type" type="string">
    <annotation>
      <documentation xml:lang="en">
[type] The type of a technical report-for example, ``Research Note''.
      </documentation>
    </annotation>
  </element>
  <element name="volume" type="string">
    <annotation>
      <documentation xml:lang="en">
[volume] The volume of a journal or multivolume book.
      </documentation>
    </annotation>
  </element>
  <element name="year" type="gYear">
    <annotation>
      <documentation xml:lang="en">
[year] The year of publication or, for an unpublished work, the year
  it was written.  Generally it should consist of four numerals, such as
  1984, although the standard styles can handle any year whose last four
  nonpunctuation characters are numerals, such as `(about 1984)'.
  The schema will restrict validation of the year to four numerals,
  as such a type is pre-defined in XML Schema.
      </documentation>
    </annotation>
  </element>
  <element name="annote" type="string"
           substitutionGroup="common.fields.class">
    <annotation>
      <documentation xml:lang="en">
[annote] An annotation  It is not used by the standard bibliography
  styles, but may be used by others that produce an annotated
  bibliography.

      Annotation is not used by the standard bibliography styles,
      if you prefer otherwise, incude it in BibTeXML.common.fields.class
      </documentation>
    </annotation>
  </element>

  <element name="crossref" type="string">
    <annotation>
      <documentation xml:lang="en">
[crossref] The database key of the entry being cross referenced.
  BibTEX has a new cross-referencing feature, explained by an example.
    @INPROCEEDINGS(no-gnats,
        crossref = "gg-proceedings",
    @PROCEEDINGS(gg-proceedings,
      </documentation>
    </annotation>
  </element>
  <element name="key" type="string">
    <annotation>
      <documentation xml:lang="en">
[key] Used for alphabetizing, cross referencing, and creating a label
  when the ``author'' information (described in Section [ref: ] is
  missing. This field should not be confused with the key that appears
  in the \cite command and at the beginning of the database entry.

  In addition to the fields listed above, each entry type also has
  an optional key field, used in some styles for alphabetizing, or
  for forming a \bibitem label. You should include a key field for
  any entry whose ``author'' information is missing;
      </documentation>
    </annotation>
  </element>

</schema>
