bibtexml/schema/bibtexmlGenerated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  File: $Id: bibtexml.rnc, 2007.02.27 20:48:00 vbg Exp $
  
  This DTD expresses XML markup similar to the BibTeX language
  specified for LaTeX, or actually its content model.
  For documentation on BibTeX, see
    http://www.ctan.org/tex-archive/biblio/bibtex/distribs/doc/
  
  Suggested invocation:
  
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE bibtex:file PUBLIC
        "-//BibTeXML//DTD XML for BibTeX v1.0//EN"
        "bibteXML.dtd" >
    <bibtex:file xmlns:bibtex="http://bibtexml.sf.net/">
    ...
    </bibtex:file>
  
  Available from  http://bibtexml.sf.net/
  
  This code originally developed by
    Vidar Bronken Gundersen
    Zeger W. Hendrikse
    Marco Kuhlmann
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License.
  See  http://www.gnu.org/copyleft/gpl.html 
-->
<!-- namespace and namespace prefix -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bibtexml.sf.net/" xmlns:bibtex="http://bibtexml.sf.net/">
  <!-- top element -->
  <!--
    .....................................................................
    Qualified Names module
     This module is contained in two parts, labeled Section 'A' and 'B':
     This module is derived from the XHTML Qualified Names Template module.
  -->
  <!--
    XML Namespace Framework
       Section A declares parameter entities to support namespace-
       qualified names, namespace declarations, and name prefixing.
  -->
  <!--
    Qualified Names
       Section B declares parameter entities used to provide
       namespace-qualified names for all element types.
    
    9. This section declares parameter entities used to provide
         namespace-qualified names for all element types.
    ignores subsequent instantiation of this module when
      used as external subset rather than module fragment.
      NOTE: Do not modify this parameter entity, otherwise
      a recursive parsing situation may result.
    if %NS.prefixed; is INCLUDE, include all NS attributes, 
    otherwise just those associated with MathML
  -->
  <!--
    .....................................................................
    Main structure
  -->
  <xs:element name="BibTeXML.standard.entries.class" abstract="true">
    <xs:annotation>
      <xs:documentation>%entry.qname; may contain one of the bibliographic types.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- ** notAllowed -->
  <xs:complexType name="BibTeXML.entries.class">
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:BibTeXML.standard.entries.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entry">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="bibtex:BibTeXML.entries.class">
          <xs:attributeGroup ref="bibtex:attlist.entry"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.entry">
    <xs:attribute name="id" use="required" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="bibtex:entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
    .....................................................................
    Parameter entities
  -->
  <xs:group name="BibTeXML.common.standard.fields">
    <xs:annotation>
      <xs:documentation>Additional elements often used, but not included in
the standard BibTeX distribution, these must be added to the
bibliography styles, otherwise these fields will be omitted by
the formatter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:key"/>
      <xs:element minOccurs="0" ref="bibtex:crossref"/>
    </xs:sequence>
  </xs:group>
  <!-- ** notAllowed -->
  <!--
    .....................................................................
    Entries in the BibTeX database
  -->
  <xs:group name="BibTeXML.article.standard.fields">
    <xs:annotation>
      <xs:documentation>[article] An article from a journal or magazine.
  Required fields: author, title, journal, year.
  Optional fields: volume, number, pages, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:journal"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:volume"/>
      <xs:element minOccurs="0" ref="bibtex:number"/>
      <xs:element minOccurs="0" ref="bibtex:pages"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="BibTeXML.article.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.article.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="article" substitutionGroup="bibtex:BibTeXML.standard.entries.class">
    <xs:complexType>
      <xs:group minOccurs="0" ref="bibtex:BibTeXML.article.fields"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="BibTeXML.book.standard.fields">
    <xs:annotation>
      <xs:documentation>[book] A book with an explicit publisher.  
  Required fields: author or editor, title, publisher, year.
  Optional fields: volume or number, series, address,
     edition, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element ref="bibtex:author"/>
        <xs:element ref="bibtex:editor"/>
      </xs:choice>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:publisher"/>
      <xs:element ref="bibtex:year"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.book.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.book.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="book" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.book.fields"/>
  <xs:group name="BibTeXML.booklet.standard.fields">
    <xs:annotation>
      <xs:documentation>[booklet] A work that is printed and bound, but without a named
  publisher or sponsoring institution  
  Required field: title.
  Optional fields: author, howpublished, address, month, year, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element minOccurs="0" ref="bibtex:howpublished"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.booklet.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.booklet.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="booklet" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.booklet.fields"/>
  <xs:group name="BibTeXML.inbook.standard.fields">
    <xs:annotation>
      <xs:documentation>[inbook] A part of a book, which may be a chapter (or section or
  whatever) and/or a range of pages.  
  Required fields: author or editor, title, chapter and/or pages,
     publisher, year.
  Optional fields: volume or number, series, type, address,
     edition, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element ref="bibtex:author"/>
        <xs:element ref="bibtex:editor"/>
      </xs:choice>
      <xs:element ref="bibtex:title"/>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="bibtex:chapter"/>
          <xs:element minOccurs="0" ref="bibtex:pages"/>
        </xs:sequence>
        <xs:element ref="bibtex:pages"/>
      </xs:choice>
      <xs:element ref="bibtex:publisher"/>
      <xs:element ref="bibtex:year"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.inbook.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.inbook.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inbook" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.inbook.fields"/>
  <!--
    > I want to express that the elements a and/or b are legal that is
    > one of them or both must be present in the document instance
    > (see the element content for BibTeX entry `InBook').
    
     in content model:   ((a , b?) | b)          if order matters
                         ((a , b?) | (b , a?))   otherwise
  -->
  <xs:group name="BibTeXML.incollection.standard.fields">
    <xs:annotation>
      <xs:documentation>[incollection] A part of a book having its own title.
  Required fields: author, title, booktitle, publisher, year.
  Optional fields: editor, volume or number, series, type,
     chapter, pages, address, edition, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:booktitle"/>
      <xs:element ref="bibtex:publisher"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:editor"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:chapter"/>
      <xs:element minOccurs="0" ref="bibtex:pages"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.incollection.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.incollection.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="incollection" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.incollection.fields"/>
  <xs:group name="BibTeXML.inproceedings.common.fields">
    <xs:annotation>
      <xs:documentation>[inproceedings] An article in a conference proceedings.
  Required fields: author, title, booktitle, year.
  Optional fields: editor, volume or number, series, pages,
     address, month, organization, publisher, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:booktitle"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:editor"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:pages"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:organization"/>
      <xs:element minOccurs="0" ref="bibtex:publisher"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="BibTeXML.inproceedings.standard.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.inproceedings.common.fields"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.inproceedings.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.inproceedings.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inproceedings" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.inproceedings.fields"/>
  <xs:group name="BibTeXML.conference.standard.fields">
    <xs:annotation>
      <xs:documentation>[conference] The same as INPROCEEDINGS,
  included for Scribe compatibility.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.inproceedings.common.fields"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.conference.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.conference.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="conference" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.conference.fields"/>
  <xs:group name="BibTeXML.manual.standard.fields">
    <xs:annotation>
      <xs:documentation>[manual] Technical documentation  
  Required field: title.
  Optional fields: author, organization, address,
     edition, month, year, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element minOccurs="0" ref="bibtex:organization"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.manual.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.manual.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="manual" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.manual.fields"/>
  <xs:group name="BibTeXML.thesis.common.fields">
    <xs:annotation>
      <xs:documentation>[mastersthesis] A Master's thesis.  
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:school"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="BibTeXML.mastersthesis.standard.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.thesis.common.fields"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.mastersthesis.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.mastersthesis.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mastersthesis" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.mastersthesis.fields"/>
  <xs:group name="BibTeXML.phdthesis.standard.fields">
    <xs:annotation>
      <xs:documentation>[phdthesis] A PhD thesis.  
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.thesis.common.fields"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.phdthesis.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.phdthesis.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="phdthesis" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.phdthesis.fields"/>
  <xs:group name="BibTeXML.misc.standard.fields">
    <xs:annotation>
      <xs:documentation>[misc] Use this type when nothing else fits.  
  Required fields: none.
  Optional fields: author, title, howpublished, month, year, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:author"/>
      <xs:element minOccurs="0" ref="bibtex:title"/>
      <xs:element minOccurs="0" ref="bibtex:howpublished"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.misc.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.misc.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="misc" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.misc.fields"/>
  <xs:group name="BibTeXML.proceedings.standard.fields">
    <xs:annotation>
      <xs:documentation>[proceedings] The proceedings of a conference.  
  Required fields: title, year.
  Optional fields: editor, volume or number, series,
     address, month, organization, publisher, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:editor"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:year"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:organization"/>
      <xs:element minOccurs="0" ref="bibtex:publisher"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.proceedings.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.proceedings.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="proceedings" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.proceedings.fields"/>
  <xs:group name="BibTeXML.techreport.standard.fields">
    <xs:annotation>
      <xs:documentation>[techreport] A report published by a school or other institution,
  usually numbered within a series.  
  Required fields: author, title, institution, year.
  Optional fields: type, number, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:institution"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:number"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.techreport.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.techreport.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="techreport" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.techreport.fields"/>
  <xs:group name="BibTeXML.unpublished.standard.fields">
    <xs:annotation>
      <xs:documentation>[unpublished] A document having an author and title, but not
  formally published.  
  Required fields: author, title, note.
  Optional fields: month, year.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:note"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BibTeXML.unpublished.fields">
    <xs:sequence>
      <xs:group ref="bibtex:BibTeXML.unpublished.standard.fields"/>
      <xs:group ref="bibtex:BibTeXML.common.standard.fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="unpublished" substitutionGroup="bibtex:BibTeXML.standard.entries.class" type="bibtex:BibTeXML.unpublished.fields"/>
  <xs:group name="BibTeXML.all.standard.fields">
    <xs:annotation>
      <xs:documentation>Fields from the standard bibliography styles
  Below follows fields recognized by the standard bibliography styles.
  An entry can also contain other fields, which are ignored by those styles.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bibtex:address"/>
        <xs:element ref="bibtex:annote"/>
        <xs:element ref="bibtex:author"/>
        <xs:element ref="bibtex:booktitle"/>
        <xs:element ref="bibtex:chapter"/>
        <xs:element ref="bibtex:crossref"/>
        <xs:element ref="bibtex:edition"/>
        <xs:element ref="bibtex:editor"/>
        <xs:element ref="bibtex:howpublished"/>
        <xs:element ref="bibtex:institution"/>
        <xs:element ref="bibtex:journal"/>
        <xs:element ref="bibtex:key"/>
        <xs:element ref="bibtex:month"/>
        <xs:element ref="bibtex:note"/>
        <xs:element ref="bibtex:number"/>
        <xs:element ref="bibtex:organization"/>
        <xs:element ref="bibtex:pages"/>
        <xs:element ref="bibtex:publisher"/>
        <xs:element ref="bibtex:school"/>
        <xs:element ref="bibtex:series"/>
        <xs:element ref="bibtex:title"/>
        <xs:element ref="bibtex:type"/>
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:year"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="address" type="xs:string"/>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="booktitle" type="xs:string"/>
  <xs:element name="chapter" type="xs:string"/>
  <xs:element name="edition" type="xs:string"/>
  <xs:element name="editor" type="xs:string"/>
  <xs:element name="howpublished" type="xs:string"/>
  <xs:element name="institution" type="xs:string"/>
  <xs:element name="journal" type="xs:string"/>
  <xs:element name="month" type="xs:string"/>
  <xs:element name="note" type="xs:string"/>
  <xs:element name="number" type="xs:string"/>
  <xs:element name="organization" type="xs:string"/>
  <xs:element name="pages" type="xs:string"/>
  <xs:element name="publisher" type="xs:string"/>
  <xs:element name="school" type="xs:string"/>
  <xs:element name="series" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="volume" type="xs:string"/>
  <xs:element name="year" type="xs:string"/>
  <xs:element name="annote" type="xs:string"/>
  <xs:element name="crossref" type="xs:string"/>
  <xs:element name="key" type="xs:string"/>
</xs:schema>
<!-- End of BibTeXML schema -->
