bibtexconverter-j/src/net/sourceforge/bibtexml/schema/bibtexml.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
   File: $Id: bibtexml-core.rng 170 2007-03-24 12:08:04Z ringler $
  
   This schema expresses XML markup similar to the BibTeX language
   specified for LaTeX, or actually its content model.
   For documentation on BibTeX, see
     http://www.ctan.org/tex-archive/biblio/bibtex/distribs/doc/
  
   Suggested invocation:
  
     <?xml version="1.0" encoding="UTF-8"?>
     <!DOCTYPE bibtex:file PUBLIC
         "-//BibTeXML//DTD XML for BibTeX v1.0//EN"
         "bibteXML.dtd" >
     <bibtex:file xmlns:bibtex="http://bibtexml.sf.net/">
     ...
     </bibtex:file>
  
   Available from  http://bibtexml.sf.net/
  
   This code originally developed by
     Vidar Bronken Gundersen
     Zeger W. Hendrikse
     Marco Kuhlmann
  
   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License.
   See  http://www.gnu.org/copyleft/gpl.html
  
-->
<!-- Namespace and namespace prefix -->
<grammar ns="http://bibtexml.sf.net/" xmlns:bibtex="http://bibtexml.sf.net/" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- Document top element -->
  <start>
    <ref name="file"/>
  </start>
  <define name="file">
    <element name="file">
      <ref name="attlist.file"/>
      <zeroOrMore>
        <ref name="entry"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.file" combine="interleave">
    <empty/>
  </define>
  <!--
    .....................................................................
    Main structure
  -->
  <define name="standard.entries.class">
    <a:documentation>Each entry may contain one of the bibliographic types.</a:documentation>
    <choice>
      <ref name="article"/>
      <ref name="book"/>
      <ref name="booklet"/>
      <ref name="manual"/>
      <ref name="techreport"/>
      <ref name="mastersthesis"/>
      <ref name="phdthesis"/>
      <ref name="inbook"/>
      <ref name="incollection"/>
      <ref name="proceedings"/>
      <ref name="inproceedings"/>
      <ref name="conference"/>
      <ref name="unpublished"/>
      <ref name="misc"/>
    </choice>
  </define>
  <define name="entry.content">
    <ref name="standard.entries.class"/>
  </define>
  <define name="entry">
    <element name="entry">
      <ref name="attlist.entry"/>
      <ref name="entry.content"/>
    </element>
  </define>
  <define name="attlist.entry" combine="interleave">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
  </define>
  <!--
    .....................................................................
    Parameter entities
  -->
  <define name="standard.common.fields.class">
    <a:documentation>Additional elements often used, but not included in
the standard BibTeX distribution, these must be added to the
bibliography styles, otherwise these fields will be omitted by
the formatter.</a:documentation>
    <optional>
      <ref name="key"/>
    </optional>
    <optional>
      <ref name="crossref"/>
    </optional>
  </define>
  <define name="common.fields.class">
    <ref name="standard.common.fields.class"/>
  </define>
  <define name="article.standard.class">
    <a:documentation>  Annotation is not used by the standard bibliography styles,
  if you prefer otherwise, incude it in BibTeXML.common.fields.class</a:documentation>
    <!-- BibTeXML.common.fields.class &= annote -->
    <!--
      .....................................................................
      Entries in the BibTeX database
    -->
    <a:documentation>[article] An article from a journal or magazine.
  Required fields: author, title, journal, year.
  Optional fields: volume, number, pages, month, note.</a:documentation>
    <ref name="author"/>
    <ref name="title"/>
    <ref name="journal"/>
    <ref name="year"/>
    <optional>
      <ref name="volume"/>
    </optional>
    <optional>
      <ref name="number"/>
    </optional>
    <optional>
      <ref name="pages"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="article.content">
    <ref name="article.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="article">
    <element name="article">
      <ref name="attlist.article"/>
      <ref name="article.content"/>
    </element>
  </define>
  <define name="attlist.article" combine="interleave">
    <empty/>
  </define>
  <define name="book.standard.class">
    <a:documentation>[book] A book with an explicit publisher.
  Required fields: author or editor, title, publisher, year.
  Optional fields: volume or number, series, address,
     edition, month, note.</a:documentation>
    <choice>
      <ref name="author"/>
      <ref name="editor"/>
    </choice>
    <ref name="title"/>
    <ref name="publisher"/>
    <ref name="year"/>
    <optional>
      <choice>
        <ref name="volume"/>
        <ref name="number"/>
      </choice>
    </optional>
    <optional>
      <ref name="series"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="edition"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="book.content">
    <ref name="book.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="book">
    <element name="book">
      <ref name="attlist.book"/>
      <ref name="book.content"/>
    </element>
  </define>
  <define name="attlist.book" combine="interleave">
    <empty/>
  </define>
  <define name="booklet.standard.class">
    <a:documentation>[booklet] A work that is printed and bound, but without a named
  publisher or sponsoring institution
  Required field: title.
  Optional fields: author, howpublished, address, month, year, note.</a:documentation>
    <optional>
      <ref name="author"/>
    </optional>
    <ref name="title"/>
    <optional>
      <ref name="howpublished"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="year"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="booklet.content">
    <ref name="booklet.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="booklet">
    <element name="booklet">
      <ref name="attlist.booklet"/>
      <ref name="booklet.content"/>
    </element>
  </define>
  <define name="attlist.booklet" combine="interleave">
    <empty/>
  </define>
  <define name="inbook.standard.class">
    <a:documentation>[inbook] A part of a book, which may be a chapter (or section or
  whatever) and/or a range of pages.
  Required fields: author or editor, title, chapter and/or pages,
     publisher, year.
  Optional fields: volume or number, series, type, address,
     edition, month, note.</a:documentation>
    <choice>
      <ref name="author"/>
      <ref name="editor"/>
    </choice>
    <ref name="title"/>
    <choice>
      <group>
        <ref name="chapter"/>
        <optional>
          <ref name="pages"/>
        </optional>
      </group>
      <ref name="pages"/>
    </choice>
    <ref name="publisher"/>
    <ref name="year"/>
    <optional>
      <choice>
        <ref name="volume"/>
        <ref name="number"/>
      </choice>
    </optional>
    <optional>
      <ref name="series"/>
    </optional>
    <optional>
      <ref name="type"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="edition"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="inbook.content">
    <ref name="inbook.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="inbook">
    <element name="inbook">
      <ref name="attlist.inbook"/>
      <ref name="inbook.content"/>
    </element>
  </define>
  <define name="attlist.inbook" combine="interleave">
    <empty/>
  </define>
  <!--
     > I want to express that the elements a and/or b are legal that is
     > one of them or both must be present in the document instance
     > (see the element content for BibTeX entry `InBook').
    
      in content model:   ((a , b?) | b)          if order matters
                          ((a , b?) | (b , a?))   otherwise
  -->
  <define name="incollection.standard.class">
    <a:documentation>[incollection] A part of a book having its own title.
  Required fields: author, title, booktitle, publisher, year.
  Optional fields: editor, volume or number, series, type,
     chapter, pages, address, edition, month, note.</a:documentation>
    <ref name="author"/>
    <ref name="title"/>
    <ref name="booktitle"/>
    <ref name="publisher"/>
    <ref name="year"/>
    <optional>
      <ref name="editor"/>
    </optional>
    <optional>
      <choice>
        <ref name="volume"/>
        <ref name="number"/>
      </choice>
    </optional>
    <optional>
      <ref name="series"/>
    </optional>
    <optional>
      <ref name="type"/>
    </optional>
    <optional>
      <ref name="chapter"/>
    </optional>
    <optional>
      <ref name="pages"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="edition"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="incollection.content">
    <ref name="incollection.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="incollection">
    <element name="incollection">
      <ref name="attlist.incollection"/>
      <ref name="incollection.content"/>
    </element>
  </define>
  <define name="attlist.incollection" combine="interleave">
    <empty/>
  </define>
  <define name="inproceedings.standard.class">
    <a:documentation>[inproceedings] An article in a conference proceedings.
  Required fields: author, title, booktitle, year.
  Optional fields: editor, volume or number, series, pages,
     address, month, organization, publisher, note.</a:documentation>
    <ref name="author"/>
    <ref name="title"/>
    <ref name="booktitle"/>
    <ref name="year"/>
    <optional>
      <ref name="editor"/>
    </optional>
    <optional>
      <choice>
        <ref name="volume"/>
        <ref name="number"/>
      </choice>
    </optional>
    <optional>
      <ref name="series"/>
    </optional>
    <optional>
      <ref name="pages"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="organization"/>
    </optional>
    <optional>
      <ref name="publisher"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="inproceedings.content">
    <ref name="inproceedings.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="inproceedings">
    <element name="inproceedings">
      <ref name="attlist.inproceedings"/>
      <ref name="inproceedings.content"/>
    </element>
  </define>
  <define name="attlist.inproceedings" combine="interleave">
    <empty/>
  </define>
  <define name="conference.content">
    <a:documentation>[conference] The same as INPROCEEDINGS,
  included for Scribe compatibility.</a:documentation>
    <ref name="inproceedings.content"/>
  </define>
  <define name="conference">
    <element name="conference">
      <ref name="attlist.conference"/>
      <ref name="conference.content"/>
    </element>
  </define>
  <define name="attlist.conference" combine="interleave">
    <empty/>
  </define>
  <define name="manual.standard.class">
    <a:documentation>[manual] Technical documentation
  Required field: title.
  Optional fields: author, organization, address,
     edition, month, year, note.</a:documentation>
    <optional>
      <ref name="author"/>
    </optional>
    <ref name="title"/>
    <optional>
      <ref name="organization"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="edition"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="year"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="manual.content">
    <ref name="manual.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="manual">
    <element name="manual">
      <ref name="attlist.manual"/>
      <ref name="manual.content"/>
    </element>
  </define>
  <define name="attlist.manual" combine="interleave">
    <empty/>
  </define>
  <define name="thesis.standard.class">
    <a:documentation>%thesis; mastersthesis and phdthesis are identical
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</a:documentation>
    <ref name="author"/>
    <ref name="title"/>
    <ref name="school"/>
    <ref name="year"/>
    <optional>
      <ref name="type"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="thesis.content">
    <ref name="thesis.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="mastersthesis.content">
    <a:documentation>[mastersthesis] A Master's thesis.
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</a:documentation>
    <ref name="thesis.content"/>
  </define>
  <define name="mastersthesis">
    <element name="mastersthesis">
      <ref name="attlist.mastersthesis"/>
      <ref name="mastersthesis.content"/>
    </element>
  </define>
  <define name="attlist.mastersthesis" combine="interleave">
    <empty/>
  </define>
  <define name="phdthesis.content">
    <a:documentation>[phdthesis] A PhD thesis.
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</a:documentation>
    <ref name="thesis.content"/>
  </define>
  <define name="phdthesis">
    <element name="phdthesis">
      <ref name="attlist.phdthesis"/>
      <ref name="phdthesis.content"/>
    </element>
  </define>
  <define name="attlist.phdthesis" combine="interleave">
    <empty/>
  </define>
  <define name="misc.standard.class">
    <a:documentation>[misc] Use this type when nothing else fits.
  Required fields: none.
  Optional fields: author, title, howpublished, month, year, note.</a:documentation>
    <optional>
      <ref name="author"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="howpublished"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="year"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="misc.content">
    <ref name="misc.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="misc">
    <element name="misc">
      <ref name="attlist.misc"/>
      <ref name="misc.content"/>
    </element>
  </define>
  <define name="attlist.misc" combine="interleave">
    <empty/>
  </define>
  <define name="proceedings.standard.class">
    <a:documentation>[proceedings] The proceedings of a conference.
  Required fields: title, year.
  Optional fields: editor, volume or number, series,
     address, month, organization, publisher, note.</a:documentation>
    <optional>
      <ref name="editor"/>
    </optional>
    <ref name="title"/>
    <ref name="year"/>
    <optional>
      <choice>
        <ref name="volume"/>
        <ref name="number"/>
      </choice>
    </optional>
    <optional>
      <ref name="series"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="organization"/>
    </optional>
    <optional>
      <ref name="publisher"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="proceedings.content">
    <ref name="proceedings.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="proceedings">
    <element name="proceedings">
      <ref name="attlist.proceedings"/>
      <ref name="proceedings.content"/>
    </element>
  </define>
  <define name="attlist.proceedings" combine="interleave">
    <empty/>
  </define>
  <define name="techreport.standard.class">
    <a:documentation>[techreport] A report published by a school or other institution,
  usually numbered within a series.
  Required fields: author, title, institution, year.
  Optional fields: type, number, address, month, note.</a:documentation>
    <ref name="author"/>
    <ref name="title"/>
    <ref name="institution"/>
    <ref name="year"/>
    <optional>
      <ref name="type"/>
    </optional>
    <optional>
      <ref name="number"/>
    </optional>
    <optional>
      <ref name="address"/>
    </optional>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="techreport.content">
    <ref name="techreport.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="techreport">
    <element name="techreport">
      <ref name="attlist.techreport"/>
      <ref name="techreport.content"/>
    </element>
  </define>
  <define name="attlist.techreport" combine="interleave">
    <empty/>
  </define>
  <define name="unpublished.standard.class">
    <a:documentation>[unpublished] A document having an author and title, but not
  formally published.
  Required fields: author, title, note.
  Optional fields: month, year.</a:documentation>
    <ref name="author"/>
    <ref name="title"/>
    <ref name="note"/>
    <optional>
      <ref name="month"/>
    </optional>
    <optional>
      <ref name="year"/>
    </optional>
  </define>
  <define name="unpublished.content">
    <ref name="unpublished.standard.class"/>
    <ref name="common.fields.class"/>
  </define>
  <define name="unpublished">
    <element name="unpublished">
      <ref name="attlist.unpublished"/>
      <ref name="unpublished.content"/>
    </element>
  </define>
  <define name="attlist.unpublished" combine="interleave">
    <empty/>
  </define>
  <!--
    .....................................................................
    Metadata fields for each bibliographic entry
  -->
  <define name="all.standard.fields.class">
    <a:documentation>Fields from the standard bibliography styles.
  Below follows fields recognized by the standard bibliography
  styles. An entry can also contain other fields, which are
  ignored by those styles. Included in the schema to enable reuse
  into a flat BibTeX markup scheme, with optional field order.</a:documentation>
    <interleave>
      <optional>
        <ref name="address"/>
      </optional>
      <optional>
        <ref name="annote"/>
      </optional>
      <optional>
        <ref name="author"/>
      </optional>
      <optional>
        <ref name="booktitle"/>
      </optional>
      <optional>
        <ref name="chapter"/>
      </optional>
      <optional>
        <ref name="crossref"/>
      </optional>
      <optional>
        <ref name="edition"/>
      </optional>
      <optional>
        <ref name="editor"/>
      </optional>
      <optional>
        <ref name="howpublished"/>
      </optional>
      <optional>
        <ref name="institution"/>
      </optional>
      <optional>
        <ref name="journal"/>
      </optional>
      <optional>
        <ref name="key"/>
      </optional>
      <optional>
        <ref name="month"/>
      </optional>
      <optional>
        <ref name="note"/>
      </optional>
      <optional>
        <ref name="number"/>
      </optional>
      <optional>
        <ref name="organization"/>
      </optional>
      <optional>
        <ref name="pages"/>
      </optional>
      <optional>
        <ref name="publisher"/>
      </optional>
      <optional>
        <ref name="school"/>
      </optional>
      <optional>
        <ref name="series"/>
      </optional>
      <optional>
        <ref name="title"/>
      </optional>
      <optional>
        <ref name="type"/>
      </optional>
      <optional>
        <ref name="volume"/>
      </optional>
      <optional>
        <ref name="year"/>
      </optional>
    </interleave>
  </define>
  <define name="address">
    <element name="address">
      <a:documentation>[address] Usually the address of the publisher or other type of
  institution  For major publishing houses, van~Leunen recommends
  omitting the information entirely.  For small publishers, on the other
  hand, you can help the reader by giving the complete address.</a:documentation>
      <ref name="attlist.address"/>
      <text/>
    </element>
  </define>
  <define name="attlist.address" combine="interleave">
    <empty/>
  </define>
  <define name="author">
    <element name="author">
      <a:documentation>[author] The name(s) of the author(s),
  in the format described in the LaTeX book.</a:documentation>
      <ref name="attlist.author"/>
      <text/>
    </element>
  </define>
  <define name="attlist.author" combine="interleave">
    <empty/>
  </define>
  <define name="booktitle">
    <element name="booktitle">
      <a:documentation>[booktitle] Title of a book, part of which is being cited.  See the
  LaTeX book for how to type titles.  For book entries, use the title
  field instead.</a:documentation>
      <ref name="attlist.booktitle"/>
      <text/>
    </element>
  </define>
  <define name="attlist.booktitle" combine="interleave">
    <empty/>
  </define>
  <define name="chapter">
    <element name="chapter">
      <a:documentation>[chapter] A chapter (or section or whatever) number.</a:documentation>
      <ref name="attlist.chapter"/>
      <data type="positiveInteger"/>
    </element>
  </define>
  <define name="attlist.chapter" combine="interleave">
    <empty/>
  </define>
  <define name="edition">
    <element name="edition">
      <a:documentation>[edition] The edition of a book-for example, ``Second''.  This
  should be an ordinal, and should have the first letter capitalized, as
  shown here; the standard styles convert to lower case when necessary.</a:documentation>
      <ref name="attlist.edition"/>
      <data type="string">
        <param name="pattern">[A-Z].*</param>
      </data>
    </element>
  </define>
  <define name="attlist.edition" combine="interleave">
    <empty/>
  </define>
  <define name="editor">
    <element name="editor">
      <a:documentation>[editor] Name(s) of editor(s), typed as indicated in the LaTeX book.
  If there is also an author field, then the editor field gives the
  editor of the book or collection in which the reference appears.</a:documentation>
      <ref name="attlist.editor"/>
      <text/>
    </element>
  </define>
  <define name="attlist.editor" combine="interleave">
    <empty/>
  </define>
  <define name="howpublished">
    <element name="howpublished">
      <a:documentation>[howpublished] How something strange has been published.
  The first word should be capitalized.</a:documentation>
      <ref name="attlist.howpublished"/>
      <text/>
    </element>
  </define>
  <define name="attlist.howpublished" combine="interleave">
    <empty/>
  </define>
  <define name="institution">
    <element name="institution">
      <a:documentation>[institution] The sponsoring institution of a technical report.</a:documentation>
      <ref name="attlist.institution"/>
      <text/>
    </element>
  </define>
  <define name="attlist.institution" combine="interleave">
    <empty/>
  </define>
  <define name="journal">
    <element name="journal">
      <a:documentation>[journal] A journal name.  Abbreviations are provided for many
  journals; see the Local Guide.</a:documentation>
      <ref name="attlist.journal"/>
      <text/>
    </element>
  </define>
  <define name="attlist.journal" combine="interleave">
    <empty/>
  </define>
  <define name="month">
    <element name="month">
      <a:documentation>[month] The month in which the work was published or, for an
  unpublished work, in which it was written. You should use the
  standard three-letter abbreviation, as described in Appendix B.1.3 of
  the LaTeX book.
  The schema also allows a two digit month format, e.g. 05 (for May).</a:documentation>
      <ref name="attlist.month"/>
      <choice>
        <ref name="monthString.datatype"/>
        <data type="gMonth"/>
      </choice>
    </element>
  </define>
  <define name="attlist.month" combine="interleave">
    <empty/>
  </define>
  <define name="monthString.datatype">
    <choice>
      <value type="string" datatypeLibrary="">Jan</value>
      <value type="string" datatypeLibrary="">Feb</value>
      <value type="string" datatypeLibrary="">Mar</value>
      <value type="string" datatypeLibrary="">Apr</value>
      <value type="string" datatypeLibrary="">May</value>
      <value type="string" datatypeLibrary="">Jun</value>
      <value type="string" datatypeLibrary="">Jul</value>
      <value type="string" datatypeLibrary="">Aug</value>
      <value type="string" datatypeLibrary="">Sep</value>
      <value type="string" datatypeLibrary="">Oct</value>
      <value type="string" datatypeLibrary="">Nov</value>
      <value type="string" datatypeLibrary="">Dec</value>
    </choice>
  </define>
  <define name="note">
    <element name="note">
      <a:documentation>[note] Any additional information that can help the reader.
  The first word should be capitalized.</a:documentation>
      <ref name="attlist.note"/>
      <text/>
    </element>
  </define>
  <define name="attlist.note" combine="interleave">
    <empty/>
  </define>
  <define name="number">
    <element name="number">
      <a:documentation>[number] The number of a journal, magazine, technical report, or of a
  work in a series.  An issue of a journal or magazine is usually
  identified by its volume and number; the organization that issues a
  technical report usually gives it a number; and sometimes books are
  given numbers in a named series.</a:documentation>
      <ref name="attlist.number"/>
      <text/>
    </element>
  </define>
  <define name="attlist.number" combine="interleave">
    <empty/>
  </define>
  <define name="organization">
    <element name="organization">
      <a:documentation>[organization] The organization that sponsors a conference or that
  publishes a manual.</a:documentation>
      <ref name="attlist.organization"/>
      <text/>
    </element>
  </define>
  <define name="attlist.organization" combine="interleave">
    <empty/>
  </define>
  <define name="pages">
    <element name="pages">
      <a:documentation>[pages] One or more page numbers or range of numbers, such as 42-111
  or 7,41,73-97 or 43+ (the `+' in this last example indicates pages
  following that don't form a simple range).  To make it easier to
  maintain Scribe-compatible databases, the standard styles convert a
  single dash (as in 7-33) to the double dash used in TeX to denote
  number ranges (as in 7-33).

Modified by MR:
allow also S10-S20 
and 10(S)-20(S) (supplement)
allow also 121403(R) (cp. http://dx.doi.org/10.1103/PhysRevB.69.121403)</a:documentation>
      <ref name="attlist.pages"/>
      <data type="string">
        <param name="pattern">[a-zA-Z]?[0-9]+(\([a-zA-Z]\))?((-{0,2}|–|,)[a-zA-Z]?[0-9]+(\([a-zA-Z]\))?)*\+?(\([a-zA-Z]\))?</param>
      </data>
    </element>
  </define>
  <define name="attlist.pages" combine="interleave">
    <empty/>
  </define>
  <define name="publisher">
    <element name="publisher">
      <a:documentation>[publisher] The publisher's name.</a:documentation>
      <ref name="attlist.publisher"/>
      <text/>
    </element>
  </define>
  <define name="attlist.publisher" combine="interleave">
    <empty/>
  </define>
  <define name="school">
    <element name="school">
      <a:documentation>[school] The name of the school where a thesis was written</a:documentation>
      <ref name="attlist.school"/>
      <text/>
    </element>
  </define>
  <define name="attlist.school" combine="interleave">
    <empty/>
  </define>
  <define name="series">
    <element name="series">
      <a:documentation>[series] The name of a series or set of books.  When citing an entire
  book, the the title field gives its title and an optional series field
  gives the name of a series or multi-volume set in which the book is
  published.</a:documentation>
      <ref name="attlist.series"/>
      <text/>
    </element>
  </define>
  <define name="attlist.series" combine="interleave">
    <empty/>
  </define>
  <define name="title">
    <element name="title">
      <a:documentation>[title] The work's title, typed as explained in the LaTeX book.</a:documentation>
      <ref name="attlist.title"/>
      <text/>
    </element>
  </define>
  <define name="attlist.title" combine="interleave">
    <empty/>
  </define>
  <define name="type">
    <element name="type">
      <a:documentation>[type] The type of a technical report-for example, ``Research Note''.</a:documentation>
      <ref name="attlist.type"/>
      <text/>
    </element>
  </define>
  <define name="attlist.type" combine="interleave">
    <empty/>
  </define>
  <define name="volume">
    <element name="volume">
      <a:documentation>[volume] The volume of a journal or multivolume book.</a:documentation>
      <ref name="attlist.volume"/>
      <text/>
    </element>
  </define>
  <define name="attlist.volume" combine="interleave">
    <empty/>
  </define>
  <define name="year">
    <element name="year">
      <a:documentation>[year] The year of publication or, for an unpublished work, the year
  it was written.  Generally it should consist of four numerals, such as
  1984, although the standard styles can handle any year whose last four
  nonpunctuation characters are numerals, such as `(about 1984)'.
  The schema will restrict validation of the year to four numerals,
  as such a type is pre-defined in XML Schema.</a:documentation>
      <ref name="attlist.year"/>
      <data type="gYear"/>
    </element>
  </define>
  <define name="attlist.year" combine="interleave">
    <empty/>
  </define>
  <define name="annote">
    <element name="annote">
      <a:documentation>[annote] An annotation  It is not used by the standard bibliography
  styles, but may be used by others that produce an annotated
  bibliography.</a:documentation>
      <ref name="attlist.annote"/>
      <text/>
    </element>
  </define>
  <define name="attlist.annote" combine="interleave">
    <empty/>
  </define>
  <define name="crossref">
    <element name="crossref">
      <a:documentation>[crossref] The database key of the entry being cross referenced.
  BibTEX has a new cross-referencing feature, explained by an example.
    @INPROCEEDINGS(no-gnats,
        crossref = "gg-proceedings",
    @PROCEEDINGS(gg-proceedings,</a:documentation>
      <ref name="attlist.crossref"/>
      <data type="NCName"/>
    </element>
  </define>
  <define name="attlist.crossref" combine="interleave">
    <empty/>
  </define>
  <define name="key">
    <element name="key">
      <a:documentation>[key] Used for alphabetizing, cross referencing, and creating a label
  when the ``author'' information (described in Section [ref: ] is
  missing. This field should not be confused with the key that appears
  in the \cite command and at the beginning of the database entry.

  In addition to the fields listed above, each entry type also has
  an optional key field, used in some styles for alphabetizing, or
  for forming a \bibitem label. You should include a key field for
  any entry whose ``author'' information is missing;</a:documentation>
      <ref name="attlist.key"/>
      <text/>
    </element>
  </define>
  <define name="attlist.key" combine="interleave">
    <empty/>
  </define>
</grammar>
