bibtexconverter-j/src/net/sourceforge/bibtexml/schema/bibtexml-strict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  File: $Id$
  
  This schema expresses XML markup similar to the BibTeX language
  specified for LaTeX, or actually its content model.
  For documentation on BibTeX, see
    http://www.ctan.org/tex-archive/biblio/bibtex/distribs/doc/
  
  Suggested invocation:
  
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE bibtex:file PUBLIC
        "-//BibTeXML//DTD XML for BibTeX v1.0//EN"
        "bibteXML.dtd" >
    <bibtex:file xmlns:bibtex="http://bibtexml.sf.net/">
    ...
    </bibtex:file>
  
  Available from  http://bibtexml.sf.net/
  
  This code originally developed by
    Vidar Bronken Gundersen
    Zeger W. Hendrikse
    Marco Kuhlmann
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License.
  See  http://www.gnu.org/copyleft/gpl.html
  
-->
<!-- Namespace and namespace prefix -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bibtexml.sf.net/" xmlns:bibtex="http://bibtexml.sf.net/">
  <!-- Document top element -->
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="bibtex:entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
    .....................................................................
    Main structure
  -->
  <xs:element name="standard.entries.class" abstract="true" substitutionGroup="bibtex:entry.content">
    <xs:annotation>
      <xs:documentation>Each entry may contain one of the bibliographic types.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="standard.entries.class">
    <xs:sequence>
      <xs:element ref="bibtex:standard.entries.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entry.content" abstract="true"/>
  <xs:complexType name="entry.content">
    <xs:sequence>
      <xs:element ref="bibtex:entry.content"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entry">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="bibtex:entry.content">
          <xs:attributeGroup ref="bibtex:attlist.entry"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.entry">
    <xs:attribute name="citekey" type="bibtex:citekey.datatype">
      <xs:annotation>
        <xs:documentation>Citation key</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="bibtex:citekey.datatype">
      <xs:annotation>
        <xs:documentation>Citation key, for backward compatibility</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="citekey.datatype">
    <xs:restriction base="xs:ID">
      <xs:pattern value="[a-zA-Z0-9.:\-]+"/>
    </xs:restriction>
  </xs:simpleType>
  <!--
    .....................................................................
    Parameter entities
  -->
  <xs:group name="standard.common.fields.class">
    <xs:annotation>
      <xs:documentation>Additional elements often used, but not included in
the standard BibTeX distribution, these must be added to the
bibliography styles, otherwise these fields will be omitted by
the formatter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bibtex:key"/>
        <xs:element ref="bibtex:crossref"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="common.fields.class">
    <xs:sequence>
      <xs:group ref="bibtex:standard.common.fields.class"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="article.standard.class">
    <xs:annotation>
      <xs:documentation>  Annotation is not used by the standard bibliography styles,
  if you prefer otherwise, incude it in BibTeXML.common.fields.class</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:journal"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:volume"/>
      <xs:element minOccurs="0" ref="bibtex:number"/>
      <xs:element minOccurs="0" ref="bibtex:pages"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="article.content">
    <xs:sequence>
      <xs:group ref="bibtex:article.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="article" substitutionGroup="bibtex:standard.entries.class" type="bibtex:article.content"/>
  <xs:group name="book.standard.class">
    <xs:annotation>
      <xs:documentation>[book] A book with an explicit publisher.
  Required fields: author or editor, title, publisher, year.
  Optional fields: volume or number, series, address,
     edition, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element ref="bibtex:author"/>
        <xs:element ref="bibtex:editor"/>
      </xs:choice>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:publisher"/>
      <xs:element ref="bibtex:year"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="book.content">
    <xs:sequence>
      <xs:group ref="bibtex:book.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="book" substitutionGroup="bibtex:standard.entries.class" type="bibtex:book.content"/>
  <xs:group name="booklet.standard.class">
    <xs:annotation>
      <xs:documentation>[booklet] A work that is printed and bound, but without a named
  publisher or sponsoring institution
  Required field: title.
  Optional fields: author, howpublished, address, month, year, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element minOccurs="0" ref="bibtex:howpublished"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="booklet.content">
    <xs:sequence>
      <xs:group ref="bibtex:booklet.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="booklet" substitutionGroup="bibtex:standard.entries.class" type="bibtex:booklet.content"/>
  <xs:group name="inbook.standard.class">
    <xs:annotation>
      <xs:documentation>[inbook] A part of a book, which may be a chapter (or section or
  whatever) and/or a range of pages.
  Required fields: author or editor, title, chapter and/or pages,
     publisher, year.
  Optional fields: volume or number, series, type, address,
     edition, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element ref="bibtex:author"/>
        <xs:element ref="bibtex:editor"/>
      </xs:choice>
      <xs:element ref="bibtex:title"/>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="bibtex:chapter"/>
          <xs:element minOccurs="0" ref="bibtex:pages"/>
        </xs:sequence>
        <xs:element ref="bibtex:pages"/>
      </xs:choice>
      <xs:element ref="bibtex:publisher"/>
      <xs:element ref="bibtex:year"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="inbook.content">
    <xs:sequence>
      <xs:group ref="bibtex:inbook.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inbook" substitutionGroup="bibtex:standard.entries.class" type="bibtex:inbook.content"/>
  <!--
    > I want to express that the elements a and/or b are legal that is
    > one of them or both must be present in the document instance
    > (see the element content for BibTeX entry `InBook').
    
     in content model:   ((a , b?) | b)          if order matters
                         ((a , b?) | (b , a?))   otherwise
  -->
  <xs:group name="incollection.standard.class">
    <xs:annotation>
      <xs:documentation>[incollection] A part of a book having its own title.
  Required fields: author, title, booktitle, publisher, year.
  Optional fields: editor, volume or number, series, type,
     chapter, pages, address, edition, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:booktitle"/>
      <xs:element ref="bibtex:publisher"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:editor"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:chapter"/>
      <xs:element minOccurs="0" ref="bibtex:pages"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="incollection.content">
    <xs:sequence>
      <xs:group ref="bibtex:incollection.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="incollection" substitutionGroup="bibtex:standard.entries.class" type="bibtex:incollection.content"/>
  <xs:group name="inproceedings.standard.class">
    <xs:annotation>
      <xs:documentation>[inproceedings] An article in a conference proceedings.
  Required fields: author, title, booktitle, year.
  Optional fields: editor, volume or number, series, pages,
     address, month, organization, publisher, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:booktitle"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:editor"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:pages"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:organization"/>
      <xs:element minOccurs="0" ref="bibtex:publisher"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="inproceedings.content">
    <xs:sequence>
      <xs:group ref="bibtex:inproceedings.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inproceedings" substitutionGroup="bibtex:standard.entries.class" type="bibtex:inproceedings.content"/>
  <xs:complexType name="conference.content">
    <xs:annotation>
      <xs:documentation>[conference] The same as INPROCEEDINGS,
  included for Scribe compatibility.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bibtex:inproceedings.content"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="conference" substitutionGroup="bibtex:standard.entries.class" type="bibtex:conference.content"/>
  <xs:group name="manual.standard.class">
    <xs:annotation>
      <xs:documentation>[manual] Technical documentation
  Required field: title.
  Optional fields: author, organization, address,
     edition, month, year, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element minOccurs="0" ref="bibtex:organization"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:edition"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="manual.content">
    <xs:sequence>
      <xs:group ref="bibtex:manual.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="manual" substitutionGroup="bibtex:standard.entries.class" type="bibtex:manual.content"/>
  <xs:group name="thesis.standard.class">
    <xs:annotation>
      <xs:documentation>%thesis; mastersthesis and phdthesis are identical
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:school"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="thesis.content">
    <xs:sequence>
      <xs:group ref="bibtex:thesis.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mastersthesis.content">
    <xs:annotation>
      <xs:documentation>[mastersthesis] A Master's thesis.
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bibtex:thesis.content"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mastersthesis" substitutionGroup="bibtex:standard.entries.class" type="bibtex:mastersthesis.content"/>
  <xs:complexType name="phdthesis.content">
    <xs:annotation>
      <xs:documentation>[phdthesis] A PhD thesis.
  Required fields: author, title, school, year.
  Optional fields: type, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bibtex:thesis.content"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="phdthesis" substitutionGroup="bibtex:standard.entries.class" type="bibtex:phdthesis.content"/>
  <xs:group name="misc.standard.class">
    <xs:annotation>
      <xs:documentation>[misc] Use this type when nothing else fits.
  Required fields: none.
  Optional fields: author, title, howpublished, month, year, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:author"/>
      <xs:element minOccurs="0" ref="bibtex:title"/>
      <xs:element minOccurs="0" ref="bibtex:howpublished"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="misc.content">
    <xs:sequence>
      <xs:group ref="bibtex:misc.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="misc" substitutionGroup="bibtex:standard.entries.class" type="bibtex:misc.content"/>
  <xs:group name="proceedings.standard.class">
    <xs:annotation>
      <xs:documentation>[proceedings] The proceedings of a conference.
  Required fields: title, year.
  Optional fields: editor, volume or number, series,
     address, month, organization, publisher, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="bibtex:editor"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:year"/>
      <xs:choice minOccurs="0">
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:number"/>
      </xs:choice>
      <xs:element minOccurs="0" ref="bibtex:series"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:organization"/>
      <xs:element minOccurs="0" ref="bibtex:publisher"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="proceedings.content">
    <xs:sequence>
      <xs:group ref="bibtex:proceedings.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="proceedings" substitutionGroup="bibtex:standard.entries.class" type="bibtex:proceedings.content"/>
  <xs:group name="techreport.standard.class">
    <xs:annotation>
      <xs:documentation>[techreport] A report published by a school or other institution,
  usually numbered within a series.
  Required fields: author, title, institution, year.
  Optional fields: type, number, address, month, note.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:institution"/>
      <xs:element ref="bibtex:year"/>
      <xs:element minOccurs="0" ref="bibtex:type"/>
      <xs:element minOccurs="0" ref="bibtex:number"/>
      <xs:element minOccurs="0" ref="bibtex:address"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:note"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="techreport.content">
    <xs:sequence>
      <xs:group ref="bibtex:techreport.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="techreport" substitutionGroup="bibtex:standard.entries.class" type="bibtex:techreport.content"/>
  <xs:group name="unpublished.standard.class">
    <xs:annotation>
      <xs:documentation>[unpublished] A document having an author and title, but not
  formally published.
  Required fields: author, title, note.
  Optional fields: month, year.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bibtex:author"/>
      <xs:element ref="bibtex:title"/>
      <xs:element ref="bibtex:note"/>
      <xs:element minOccurs="0" ref="bibtex:month"/>
      <xs:element minOccurs="0" ref="bibtex:year"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="unpublished.content">
    <xs:sequence>
      <xs:group ref="bibtex:unpublished.standard.class"/>
      <xs:group ref="bibtex:common.fields.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="unpublished" substitutionGroup="bibtex:standard.entries.class" type="bibtex:unpublished.content"/>
  <!--
    .....................................................................
    Metadata fields for each bibliographic entry
  -->
  <xs:group name="all.standard.fields.class">
    <xs:annotation>
      <xs:documentation>Fields from the standard bibliography styles.
  Below follows fields recognized by the standard bibliography
  styles. An entry can also contain other fields, which are
  ignored by those styles. Included in the schema to enable reuse
  into a flat BibTeX markup scheme, with optional field order.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bibtex:address"/>
        <xs:element ref="bibtex:annote"/>
        <xs:element ref="bibtex:author"/>
        <xs:element ref="bibtex:booktitle"/>
        <xs:element ref="bibtex:chapter"/>
        <xs:element ref="bibtex:crossref"/>
        <xs:element ref="bibtex:edition"/>
        <xs:element ref="bibtex:editor"/>
        <xs:element ref="bibtex:howpublished"/>
        <xs:element ref="bibtex:institution"/>
        <xs:element ref="bibtex:journal"/>
        <xs:element ref="bibtex:key"/>
        <xs:element ref="bibtex:month"/>
        <xs:element ref="bibtex:note"/>
        <xs:element ref="bibtex:number"/>
        <xs:element ref="bibtex:organization"/>
        <xs:element ref="bibtex:pages"/>
        <xs:element ref="bibtex:publisher"/>
        <xs:element ref="bibtex:school"/>
        <xs:element ref="bibtex:series"/>
        <xs:element ref="bibtex:title"/>
        <xs:element ref="bibtex:type"/>
        <xs:element ref="bibtex:volume"/>
        <xs:element ref="bibtex:year"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="address" type="xs:string">
    <xs:annotation>
      <xs:documentation>[address] Usually the address of the publisher or other type of
  institution  For major publishing houses, van~Leunen recommends
  omitting the information entirely.  For small publishers, on the other
  hand, you can help the reader by giving the complete address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="author" type="xs:string">
    <xs:annotation>
      <xs:documentation>[author] The name(s) of the author(s),
  in the format described in the LaTeX book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="booktitle" type="xs:string">
    <xs:annotation>
      <xs:documentation>[booktitle] Title of a book, part of which is being cited.  See the
  LaTeX book for how to type titles.  For book entries, use the title
  field instead.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="chapter" type="xs:positiveInteger">
    <xs:annotation>
      <xs:documentation>[chapter] A chapter (or section or whatever) number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="edition">
    <xs:annotation>
      <xs:documentation>[edition] The edition of a book-for example, ``Second''.  This
  should be an ordinal, and should have the first letter capitalized, as
  shown here; the standard styles convert to lower case when necessary.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z].*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="editor" type="xs:string">
    <xs:annotation>
      <xs:documentation>[editor] Name(s) of editor(s), typed as indicated in the LaTeX book.
  If there is also an author field, then the editor field gives the
  editor of the book or collection in which the reference appears.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="howpublished" type="xs:string">
    <xs:annotation>
      <xs:documentation>[howpublished] How something strange has been published.
  The first word should be capitalized.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="institution" type="xs:string">
    <xs:annotation>
      <xs:documentation>[institution] The sponsoring institution of a technical report.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal" type="xs:string">
    <xs:annotation>
      <xs:documentation>[journal] A journal name.  Abbreviations are provided for many
  journals; see the Local Guide.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="month">
    <xs:annotation>
      <xs:documentation>[month] The month in which the work was published or, for an
  unpublished work, in which it was written. You should use the
  standard three-letter abbreviation, as described in Appendix B.1.3 of
  the LaTeX book.
  The schema also allows a two digit month format, e.g. 05 (for May).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:union memberTypes="bibtex:monthString.datatype xs:gMonth"/>
    </xs:simpleType>
  </xs:element>
  <xs:simpleType name="monthString.datatype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jan"/>
      <xs:enumeration value="Feb"/>
      <xs:enumeration value="Mar"/>
      <xs:enumeration value="Apr"/>
      <xs:enumeration value="May"/>
      <xs:enumeration value="Jun"/>
      <xs:enumeration value="Jul"/>
      <xs:enumeration value="Aug"/>
      <xs:enumeration value="Sep"/>
      <xs:enumeration value="Oct"/>
      <xs:enumeration value="Nov"/>
      <xs:enumeration value="Dec"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="note" type="xs:string">
    <xs:annotation>
      <xs:documentation>[note] Any additional information that can help the reader.
  The first word should be capitalized.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="number" type="xs:string">
    <xs:annotation>
      <xs:documentation>[number] The number of a journal, magazine, technical report, or of a
  work in a series.  An issue of a journal or magazine is usually
  identified by its volume and number; the organization that issues a
  technical report usually gives it a number; and sometimes books are
  given numbers in a named series.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="organization" type="xs:string">
    <xs:annotation>
      <xs:documentation>[organization] The organization that sponsors a conference or that
  publishes a manual.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="pages">
    <xs:annotation>
      <xs:documentation>[pages] One or more page numbers or range of numbers, such as 42-111
  or 7,41,73-97 or 43+ (the `+' in this last example indicates pages
  following that don't form a simple range).  To make it easier to
  maintain Scribe-compatible databases, the standard styles convert a
  single dash (as in 7-33) to the double dash used in TeX to denote
  number ranges (as in 7-33).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]+((-{0,2}|–|,)[0-9]+)*\+?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="publisher" type="xs:string">
    <xs:annotation>
      <xs:documentation>[publisher] The publisher's name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="school" type="xs:string">
    <xs:annotation>
      <xs:documentation>[school] The name of the school where a thesis was written</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="series" type="xs:string">
    <xs:annotation>
      <xs:documentation>[series] The name of a series or set of books.  When citing an entire
  book, the the title field gives its title and an optional series field
  gives the name of a series or multi-volume set in which the book is
  published.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="title" type="xs:string">
    <xs:annotation>
      <xs:documentation>[title] The work's title, typed as explained in the LaTeX book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="type" type="xs:string">
    <xs:annotation>
      <xs:documentation>[type] The type of a technical report-for example, ``Research Note''.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="volume" type="xs:string">
    <xs:annotation>
      <xs:documentation>[volume] The volume of a journal or multivolume book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="year" type="xs:gYear">
    <xs:annotation>
      <xs:documentation>[year] The year of publication or, for an unpublished work, the year
  it was written.  Generally it should consist of four numerals, such as
  1984, although the standard styles can handle any year whose last four
  nonpunctuation characters are numerals, such as `(about 1984)'.
  The schema will restrict validation of the year to four numerals,
  as such a type is pre-defined in XML Schema.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="annote" type="xs:string">
    <xs:annotation>
      <xs:documentation>[annote] An annotation  It is not used by the standard bibliography
  styles, but may be used by others that produce an annotated
  bibliography.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="crossref" type="xs:NCName">
    <xs:annotation>
      <xs:documentation>[crossref] The database key of the entry being cross referenced.
  BibTEX has a new cross-referencing feature, explained by an example.
    @INPROCEEDINGS(no-gnats,
        crossref = "gg-proceedings",
    @PROCEEDINGS(gg-proceedings,</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="key" type="xs:string">
    <xs:annotation>
      <xs:documentation>[key] Used for alphabetizing, cross referencing, and creating a label
  when the ``author'' information (described in Section [ref: ] is
  missing. This field should not be confused with the key that appears
  in the \cite command and at the beginning of the database entry.

  In addition to the fields listed above, each entry type also has
  an optional key field, used in some styles for alphabetizing, or
  for forming a \bibitem label. You should include a key field for
  any entry whose ``author'' information is missing;</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
