bibtexconverter-j/src/net/sourceforge/bibtexml/schema/bibtexml-core.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
   $Id$
  
   This schema expresses XML markup similar to the BibTeX language
   specified for LaTeX, or actually its content model.
   For documentation on BibTeX, see
     http://www.ctan.org/tex-archive/biblio/bibtex/distribs/doc/
  
   Differences to the strict BibTeXML schema are
     * Order is irrelevant
     * Required fields must be present
     * Optional fields used by the BibTeX style files are retained
       for schema-aware XML editors, while other fields are ommitted.
  
   Suggested invocation:
  
     <?xml version="1.0" encoding="UTF-8"?>
     <bibtex:file xmlns:bibtex="http://bibtexml.sf.net/">
     ...
     </bibtex:file>
   
   Available from  http://bibtexml.sf.net/
  
   This code originally developed by
     Vidar Bronken Gundersen
  
   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License.
   See  http://www.gnu.org/copyleft/gpl.html
  
-->
<!-- Namespace and namespace prefix -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- Reuse the strict BibTeXML schema -->
  <include href="bibtexml-strict.rng">
    <!--
      Allow fields in any order.
      Retain required and optional fields to aid schema-aware XML editors.
    -->
    <define name="article.content">
      <interleave>
        <ref name="author"/>
        <ref name="title"/>
        <ref name="journal"/>
        <ref name="year"/>
        <optional>
          <ref name="volume"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="pages"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="book.content">
      <interleave>
        <choice>
          <ref name="author"/>
          <ref name="editor"/>
        </choice>
        <ref name="title"/>
        <ref name="publisher"/>
        <ref name="year"/>
        <optional>
          <ref name="volume"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="series"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="edition"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="booklet.content">
      <interleave>
        <ref name="title"/>
        <optional>
          <ref name="author"/>
        </optional>
        <optional>
          <ref name="howpublished"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="year"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="inbook.content">
      <interleave>
        <choice>
          <ref name="author"/>
          <ref name="editor"/>
        </choice>
        <ref name="title"/>
        <choice>
          <interleave>
            <ref name="chapter"/>
            <optional>
              <ref name="pages"/>
            </optional>
          </interleave>
          <ref name="pages"/>
        </choice>
        <ref name="publisher"/>
        <ref name="year"/>
        <optional>
          <ref name="volume"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="series"/>
        </optional>
        <optional>
          <ref name="type"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="edition"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="incollection.content">
      <interleave>
        <ref name="author"/>
        <ref name="title"/>
        <ref name="booktitle"/>
        <ref name="publisher"/>
        <ref name="year"/>
        <optional>
          <ref name="editor"/>
        </optional>
        <optional>
          <ref name="volume"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="series"/>
        </optional>
        <optional>
          <ref name="type"/>
        </optional>
        <optional>
          <ref name="chapter"/>
        </optional>
        <optional>
          <ref name="pages"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="edition"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="inproceedings.content">
      <interleave>
        <ref name="author"/>
        <ref name="title"/>
        <ref name="booktitle"/>
        <ref name="year"/>
        <optional>
          <ref name="editor"/>
        </optional>
        <optional>
          <ref name="volume"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="series"/>
        </optional>
        <optional>
          <ref name="pages"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="organization"/>
        </optional>
        <optional>
          <ref name="publisher"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="manual.content">
      <interleave>
        <ref name="title"/>
        <optional>
          <ref name="author"/>
        </optional>
        <optional>
          <ref name="organization"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="edition"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="year"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="thesis.content">
      <interleave>
        <ref name="author"/>
        <ref name="title"/>
        <ref name="school"/>
        <ref name="year"/>
        <optional>
          <ref name="type"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="misc.content">
      <interleave>
        <optional>
          <ref name="author"/>
        </optional>
        <optional>
          <ref name="title"/>
        </optional>
        <optional>
          <ref name="howpublished"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="year"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="proceedings.content">
      <interleave>
        <ref name="title"/>
        <ref name="year"/>
        <optional>
          <ref name="editor"/>
        </optional>
        <optional>
          <ref name="volume"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="series"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="organization"/>
        </optional>
        <optional>
          <ref name="publisher"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="techreport.content">
      <interleave>
        <ref name="author"/>
        <ref name="title"/>
        <ref name="institution"/>
        <ref name="year"/>
        <optional>
          <ref name="type"/>
        </optional>
        <optional>
          <ref name="number"/>
        </optional>
        <optional>
          <ref name="address"/>
        </optional>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="note"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
    <define name="unpublished.content">
      <interleave>
        <ref name="author"/>
        <ref name="title"/>
        <ref name="note"/>
        <optional>
          <ref name="month"/>
        </optional>
        <optional>
          <ref name="year"/>
        </optional>
        <ref name="common.fields.class"/>
      </interleave>
    </define>
  </include>
  <!-- Extend common fields (at this point key? & crossref?) -->
  <define name="standard.common.fields.class" combine="interleave">
    <optional>
      <ref name="annote"/>
    </optional>
  </define>
</grammar>
