bibtexconverter-j/src/net/sourceforge/bibtexml/bibtexml-strict.dtd

<!--
  - File: $Id: bibtexml-strict.dtd,v 1.1 2006/07/28 18:27:55 Moritz.Ringler Exp $
  -
  - This DTD expresses XML markup similar to the BibTeX language
  - specified for LaTeX, or actually its content model.
  - For documentation on BibTeX, see
  -   http://www.ctan.org/tex-archive/biblio/bibtex/distribs/doc/
  -
  - Suggested invocation:
  -
  -   <?xml version="1.0" encoding="UTF-8"?>
  -   <!DOCTYPE bibtex:file PUBLIC
  -       "-//BibTeXML//DTD XML for BibTeX v1.0//EN"
  -       "bibteXML.dtd" >
  -   <bibtex:file xmlns:bibtex="http://bibtexml.sf.net/">
  -   ...
  -   </bibtex:file>
  -
  - Available from  http://bibtexml.sf.net/
  -
  - This code originally developed by
  - Vidar Bronken Gundersen
  - Zeger W. Hendrikse
  - Marco Kuhlmann
  -
  - This program is free software; you can redistribute it and/or
  - modify it under the terms of the GNU General Public License.
  - See  http://www.gnu.org/copyleft/gpl.html
  -
-->

<!NOTATION BibTeX PUBLIC "-//Oren Patashnik//NOTATION BibTeX Manuals//EN">

<!-- Qualified Names module .............................................. -->

<!-- Qualified Names
  -
  - This module is contained in two parts, labeled Section 'A' and 'B':
  -
  -   Section A declares parameter entities to support namespace-
  -   qualified names, namespace declarations, and name prefixing.
  -
  -   Section B declares parameter entities used to provide
  -   namespace-qualified names for all element types.
  -
  - This module is derived from the XHTML Qualified Names Template module.
  -
-->

<!-- Section A: XML Namespace Framework :::::::::::::::::::: -->

<!ENTITY % NS.prefixed     "INCLUDE" >
<!ENTITY % BibTeXML.prefixed "%NS.prefixed;" >


<!ENTITY % BibTeXML.xmlns    "http://bibtexml.sf.net/" >
<!ENTITY % BibTeXML.prefix   "bibtex" >
<![%BibTeXML.prefixed;[
<!ENTITY % BibTeXML.xmlns.extra.attrib  "" >
]]>
<!ENTITY % BibTeXML.xmlns.extra.attrib 
     "" >

<![%BibTeXML.prefixed;[
<!ENTITY % BibTeXML.pfx  "%BibTeXML.prefix;:" >
<!ENTITY % BibTeXML.xmlns.attrib
     "xmlns:%BibTeXML.prefix;  CDATA   #FIXED '%BibTeXML.xmlns;'
      %BibTeXML.xmlns.extra.attrib;"
>
]]>
<!ENTITY % BibTeXML.pfx  "" >
<!ENTITY % BibTeXML.xmlns.attrib
     "xmlns        CDATA           #FIXED '%BibTeXML.xmlns;'
      %BibTeXML.xmlns.extra.attrib;"
>

<![%NS.prefixed;[
<!ENTITY % XHTML.xmlns.extra.attrib 
     "%BibTeXML.xmlns.attrib;" >
]]>
<!ENTITY % XHTML.xmlns.extra.attrib
     "%BibTeXML.xmlns.attrib;"
>

<!-- Section B: Qualified Names ::::::::::::::::::::::::::::: -->

<!-- 9. This section declares parameter entities used to provide
  -     namespace-qualified names for all element types.
-->

<!ENTITY % file.qname           "%BibTeXML.pfx;file" >
<!ENTITY % entry.qname          "%BibTeXML.pfx;entry" >

<!ENTITY % article.qname        "%BibTeXML.pfx;article" >
<!ENTITY % book.qname           "%BibTeXML.pfx;book" >
<!ENTITY % booklet.qname        "%BibTeXML.pfx;booklet" >
<!ENTITY % manual.qname         "%BibTeXML.pfx;manual" >
<!ENTITY % techreport.qname     "%BibTeXML.pfx;techreport" >
<!ENTITY % mastersthesis.qname  "%BibTeXML.pfx;mastersthesis" >
<!ENTITY % phdthesis.qname      "%BibTeXML.pfx;phdthesis" >
<!ENTITY % inbook.qname         "%BibTeXML.pfx;inbook" >
<!ENTITY % incollection.qname   "%BibTeXML.pfx;incollection" >
<!ENTITY % proceedings.qname    "%BibTeXML.pfx;proceedings" >
<!ENTITY % inproceedings.qname  "%BibTeXML.pfx;inproceedings" >
<!ENTITY % conference.qname     "%BibTeXML.pfx;conference" >
<!ENTITY % unpublished.qname    "%BibTeXML.pfx;unpublished" >
<!ENTITY % misc.qname           "%BibTeXML.pfx;misc" >

<!ENTITY % address.qname        "%BibTeXML.pfx;address" >
<!ENTITY % author.qname         "%BibTeXML.pfx;author" >
<!ENTITY % booktitle.qname      "%BibTeXML.pfx;booktitle" >
<!ENTITY % chapter.qname        "%BibTeXML.pfx;chapter" >
<!ENTITY % edition.qname        "%BibTeXML.pfx;edition" >
<!ENTITY % editor.qname         "%BibTeXML.pfx;editor" >
<!ENTITY % howpublished.qname   "%BibTeXML.pfx;howpublished" >
<!ENTITY % institution.qname    "%BibTeXML.pfx;institution" >
<!ENTITY % journal.qname        "%BibTeXML.pfx;journal" >
<!ENTITY % month.qname          "%BibTeXML.pfx;month" >
<!ENTITY % note.qname           "%BibTeXML.pfx;note" >
<!ENTITY % number.qname         "%BibTeXML.pfx;number" >
<!ENTITY % organization.qname   "%BibTeXML.pfx;organization" >
<!ENTITY % pages.qname          "%BibTeXML.pfx;pages" >
<!ENTITY % publisher.qname      "%BibTeXML.pfx;publisher" >
<!ENTITY % school.qname         "%BibTeXML.pfx;school" >
<!ENTITY % series.qname         "%BibTeXML.pfx;series" >
<!ENTITY % title.qname          "%BibTeXML.pfx;title" >
<!ENTITY % type.qname           "%BibTeXML.pfx;type" >
<!ENTITY % volume.qname         "%BibTeXML.pfx;volume" >
<!ENTITY % year.qname           "%BibTeXML.pfx;year" >

<!ENTITY % key.qname            "%BibTeXML.pfx;key" >
<!ENTITY % crossref.qname       "%BibTeXML.pfx;crossref" >
<!ENTITY % annote.qname         "%BibTeXML.pfx;annote" >


<!-- ignores subsequent instantiation of this module when
  -  used as external subset rather than module fragment.
  -  NOTE: Do not modify this parameter entity, otherwise
  -  a recursive parsing situation may result.
-->
<!ENTITY % BibTeXML-qname.module "IGNORE" >


<!-- if %NS.prefixed; is INCLUDE, include all NS attributes, 
     otherwise just those associated with MathML
-->
<![%NS.prefixed;[
  <!ENTITY % BibTeXML.NamespaceDecl.attrib 
         "%BibTeXML.xmlns.attrib;"
>
]]>
<!ENTITY % BibTeXML.NamespaceDecl.attrib 
     "%BibTeXML.xmlns.attrib;"
>


<!-- ..................................................................... -->
<!-- Main structure -->

<!-- %entry.qname; may contain one of the bibliographic types. -->

<!ENTITY % BibTeXML.standard.entries.class
      "%article.qname; | %book.qname; | %booklet.qname; |
       %manual.qname; | %techreport.qname; |
       %mastersthesis.qname; | %phdthesis.qname; |
       %inbook.qname; | %incollection.qname; |
       %proceedings.qname; | %inproceedings.qname; | %conference.qname; |
       %unpublished.qname; | %misc.qname; ">

<!ENTITY % BibTeXML.additional.entries.class "">

<!ENTITY % BibTeXML.entries.class
   "%BibTeXML.standard.entries.class;
    %BibTeXML.additional.entries.class;">

<!ENTITY % BibTeXML.entry.module "INCLUDE">
<![%BibTeXML.entry.module;[
<!ENTITY % BibTeXML.entry.element "INCLUDE">
<![%BibTeXML.entry.element;[
<!ELEMENT %entry.qname; (%BibTeXML.entries.class;)>
]]>
<!ENTITY % BibTeXML.entry.attlist "INCLUDE">
<![%BibTeXML.entry.attlist;[
<!ATTLIST %entry.qname;
   id         ID     #REQUIRED >
]]>
]]>


<!-- %file.qname; is the document top element with a namespace indicator. -->

<!ENTITY % BibTeXML.file.module "INCLUDE">
<![%BibTeXML.file.module;[
<!ENTITY % BibTeXML.file.element "INCLUDE">
<![%BibTeXML.file.element;[
<!ELEMENT %file.qname;  (%entry.qname;)* >
]]>
<!ENTITY % BibTeXML.file.attlist "INCLUDE">
<![%BibTeXML.file.attlist;[
<!ATTLIST %file.qname;
   %BibTeXML.NamespaceDecl.attrib; >
]]>
]]>


<!-- ..................................................................... -->
<!-- Parameter entities -->

<!-- these are additional elements often used, but not included in the
     standard BibTeX distribution, these must be added to the
     bibliography styles, otherwise these fields will be omitted by
     the formatter -->

<!ENTITY % BibTeXML.common.standard.fields
   ", %key.qname;?, %crossref.qname;?" >

<!ENTITY % BibTeXML.additional.fields "">


<!-- ..................................................................... -->
<!-- Entries in the BibTeX database -->

<!-- [article] An article from a journal or magazine.
  -  Required fields: author, title, journal, year.
  -  Optional fields: volume, number, pages, month, note. -->

<!ENTITY % BibTeXML.article.module "INCLUDE">
<![%BibTeXML.article.module;[
<!ENTITY % BibTeXML.article.standard.fields
   "%author.qname;, %title.qname;, %journal.qname;,
    %year.qname;, %volume.qname;?, %number.qname;?,
    %pages.qname;?, %month.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.article.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.article.fields
   "%BibTeXML.article.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.article.additional.fields;">
<!ENTITY % BibTeXML.article.element "INCLUDE">
<![%BibTeXML.article.element;[
<!ELEMENT %article.qname; (%BibTeXML.article.fields;)?>
]]>
]]>


<!-- [book] A book with an explicit publisher.  
  -  Required fields: author or editor, title, publisher, year.
  -  Optional fields: volume or number, series, address,
  -     edition, month, note. -->

<!ENTITY % BibTeXML.book.module "INCLUDE">
<![%BibTeXML.book.module;[
<!ENTITY % BibTeXML.book.standard.fields
   "(%author.qname; | %editor.qname;), %title.qname;, %publisher.qname;,
    %year.qname;, (%volume.qname; | %number.qname;)?, %series.qname;?,
    %address.qname;?, %edition.qname;?, %month.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.book.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.book.fields
   "%BibTeXML.book.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.book.additional.fields;">
<!ENTITY % BibTeXML.book.element "INCLUDE">
<![%BibTeXML.book.element;[
<!ELEMENT %book.qname; (%BibTeXML.book.fields;)>
]]>
]]>


<!-- [booklet] A work that is printed and bound, but without a named
  -  publisher or sponsoring institution  
  -  Required field: title.
  -  Optional fields: author, howpublished, address, month, year, note. -->

<!ENTITY % BibTeXML.booklet.module "INCLUDE">
<![%BibTeXML.booklet.module;[
<!ENTITY % BibTeXML.booklet.standard.fields
      "%author.qname;?, %title.qname;, %howpublished.qname;?,
       %address.qname;?, %month.qname;?, %year.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.booklet.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.booklet.fields
   "%BibTeXML.booklet.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.booklet.additional.fields;">
<!ENTITY % BibTeXML.booklet.element "INCLUDE">
<![%BibTeXML.booklet.element;[
<!ELEMENT %booklet.qname; (%BibTeXML.booklet.fields;)>
]]>
]]>


<!-- [inbook] A part of a book, which may be a chapter (or section or
  -  whatever) and/or a range of pages.  
  -  Required fields: author or editor, title, chapter and/or pages,
  -     publisher, year.
  -  Optional fields: volume or number, series, type, address,
  -     edition, month, note. -->

<!ENTITY % BibTeXML.inbook.module "INCLUDE">
<![%BibTeXML.inbook.module;[
<!ENTITY % BibTeXML.inbook.standard.fields
   "(%author.qname; | %editor.qname;), %title.qname;,
    ((%chapter.qname;, %pages.qname;?) | %pages.qname;),
    %publisher.qname;, %year.qname;,
    (%volume.qname; | %number.qname;)?, %series.qname;?,
    %type.qname;?, %address.qname;?, %edition.qname;?,
    %month.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.inbook.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.inbook.fields
   "%BibTeXML.inbook.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.inbook.additional.fields;">
<!ENTITY % BibTeXML.inbook.element "INCLUDE">
<![%BibTeXML.inbook.element;[
<!ELEMENT %inbook.qname; (%BibTeXML.inbook.fields;)>
]]>
]]>

<!--
  - > I want to express that the elements a and/or b are legal that is
  - > one of them or both must be present in the document instance
  - > (see the element content for BibTeX entry `InBook').
  -  in content model:   ((a , b?) | b)          if order matters
  -                      ((a , b?) | (b , a?))   otherwise
-->


<!-- [incollection] A part of a book having its own title.
  -  Required fields: author, title, booktitle, publisher, year.
  -  Optional fields: editor, volume or number, series, type,
  -     chapter, pages, address, edition, month, note. -->

<!ENTITY % BibTeXML.incollection.module "INCLUDE">
<![%BibTeXML.incollection.module;[
<!ENTITY % BibTeXML.incollection.standard.fields
   "%author.qname;, %title.qname;, %booktitle.qname;,
    %publisher.qname;, %year.qname;, %editor.qname;?,
    (%volume.qname; | %number.qname;)?, %series.qname;?,
    %type.qname;?, %chapter.qname;?, %pages.qname;?, %address.qname;?,
    %edition.qname;?, %month.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.incollection.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.incollection.fields
   "%BibTeXML.incollection.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.incollection.additional.fields;">
<!ENTITY % BibTeXML.incollection.element "INCLUDE">
<![%BibTeXML.incollection.element;[
<!ELEMENT %incollection.qname; (%BibTeXML.incollection.fields;)>
]]>
]]>


<!-- [inproceedings] An article in a conference proceedings.
  -  Required fields: author, title, booktitle, year.
  -  Optional fields: editor, volume or number, series, pages,
  -     address, month, organization, publisher, note. -->

<!ENTITY % BibTeXML.inproceedings.common.fields
   "(%author.qname;, %title.qname;, %booktitle.qname;, %year.qname;,
    %editor.qname;?, (%volume.qname; | %number.qname;)?,
    %series.qname;?, %pages.qname;?, %address.qname;?, 
    %month.qname;?, %organization.qname;?, %publisher.qname;?,
    %note.qname;?)">

<!ENTITY % BibTeXML.inproceedings.module "INCLUDE">
<![%BibTeXML.inproceedings.module;[
<!ENTITY % BibTeXML.inproceedings.standard.fields
   "%BibTeXML.inproceedings.common.fields;">
<!ENTITY % BibTeXML.inproceedings.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.inproceedings.fields
   "%BibTeXML.inproceedings.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.inproceedings.additional.fields;">
<!ENTITY % BibTeXML.inproceedings.element "INCLUDE">
<![%BibTeXML.inproceedings.element;[
<!ELEMENT %inproceedings.qname; (%BibTeXML.inproceedings.fields;)>
]]>
]]>


<!-- [conference] The same as INPROCEEDINGS,
  -  included for Scribe compatibility. -->

<!ENTITY % BibTeXML.conference.module "INCLUDE">
<![%BibTeXML.conference.module;[
<!ENTITY % BibTeXML.conference.standard.fields
   "%BibTeXML.inproceedings.common.fields;">
<!ENTITY % BibTeXML.conference.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.conference.fields
   "%BibTeXML.conference.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.conference.additional.fields;">
<!ENTITY % BibTeXML.conference.element "INCLUDE">
<![%BibTeXML.conference.element;[
<!ELEMENT %conference.qname; (%BibTeXML.conference.fields;)>
]]>
]]>


<!-- [manual] Technical documentation  
  -  Required field: title.
  -  Optional fields: author, organization, address,
  -     edition, month, year, note. -->

<!ENTITY % BibTeXML.manual.module "INCLUDE">
<![%BibTeXML.manual.module;[
<!ENTITY % BibTeXML.manual.standard.fields
   "%author.qname;?, %title.qname;, %organization.qname;?,
    %address.qname;?, %edition.qname;?, %month.qname;?, %year.qname;?,
    %note.qname;?">
<!ENTITY % BibTeXML.manual.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.manual.fields
   "%BibTeXML.manual.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.manual.additional.fields;">
<!ENTITY % BibTeXML.manual.element "INCLUDE">
<![%BibTeXML.manual.element;[
<!ELEMENT %manual.qname; (%BibTeXML.manual.fields;)>
]]>
]]>


<!-- [mastersthesis] A Master's thesis.  
  -  Required fields: author, title, school, year.
  -  Optional fields: type, address, month, note. -->

<!ENTITY % BibTeXML.thesis.common.fields 
   "(%author.qname;, %title.qname;,
    %school.qname;, %year.qname;, %type.qname;?,
    %address.qname;?, %month.qname;?, %note.qname;?)">

<!ENTITY % BibTeXML.mastersthesis.module "INCLUDE">
<![%BibTeXML.mastersthesis.module;[
<!ENTITY % BibTeXML.mastersthesis.standard.fields
   "%BibTeXML.thesis.common.fields;">
<!ENTITY % BibTeXML.mastersthesis.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.mastersthesis.fields
   "%BibTeXML.mastersthesis.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.mastersthesis.additional.fields;">
<!ENTITY % BibTeXML.mastersthesis.element "INCLUDE">
<![%BibTeXML.mastersthesis.element;[
<!ELEMENT %mastersthesis.qname; (%BibTeXML.mastersthesis.fields;)>
]]>
]]>


<!-- [phdthesis] A PhD thesis.  
  -  Required fields: author, title, school, year.
  -  Optional fields: type, address, month, note. -->

<!ENTITY % BibTeXML.phdthesis.module "INCLUDE">
<![%BibTeXML.phdthesis.module;[
<!ENTITY % BibTeXML.phdthesis.standard.fields
   "%BibTeXML.thesis.common.fields;">
<!ENTITY % BibTeXML.phdthesis.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.phdthesis.fields
   "%BibTeXML.phdthesis.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.phdthesis.additional.fields;">
<!ENTITY % BibTeXML.phdthesis.element "INCLUDE">
<![%BibTeXML.phdthesis.element;[
<!ELEMENT %phdthesis.qname; (%BibTeXML.phdthesis.fields;)>
]]>
]]>


<!-- [misc] Use this type when nothing else fits.  
  -  Required fields: none.
  -  Optional fields: author, title, howpublished, month, year, note. -->

<!ENTITY % BibTeXML.misc.module "INCLUDE">
<![%BibTeXML.misc.module;[
<!ENTITY % BibTeXML.misc.standard.fields
   "%author.qname;?, %title.qname;?, %howpublished.qname;?,
    %month.qname;?, %year.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.misc.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.misc.fields
   "%BibTeXML.misc.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.misc.additional.fields;">
<!ENTITY % BibTeXML.misc.element "INCLUDE">
<![%BibTeXML.misc.element;[
<!ELEMENT %misc.qname; (%BibTeXML.misc.fields;)>
]]>
]]>


<!-- [proceedings] The proceedings of a conference.  
  -  Required fields: title, year.
  -  Optional fields: editor, volume or number, series,
  -     address, month, organization, publisher, note. -->

<!ENTITY % BibTeXML.proceedings.module "INCLUDE">
<![%BibTeXML.proceedings.module;[
<!ENTITY % BibTeXML.proceedings.standard.fields
   "%editor.qname;?, %title.qname;, %year.qname;,
    (%volume.qname; | %number.qname;)?, %series.qname;?,
    %address.qname;?, %month.qname;?, %organization.qname;?,
    %publisher.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.proceedings.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.proceedings.fields
   "%BibTeXML.proceedings.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.proceedings.additional.fields;">
<!ENTITY % BibTeXML.proceedings.element "INCLUDE">
<![%BibTeXML.proceedings.element;[
<!ELEMENT %proceedings.qname; (%BibTeXML.proceedings.fields;)>
]]>
]]>


<!-- [techreport] A report published by a school or other institution,
  -  usually numbered within a series.  
  -  Required fields: author, title, institution, year.
  -  Optional fields: type, number, address, month, note. -->

<!ENTITY % BibTeXML.techreport.module "INCLUDE">
<![%BibTeXML.techreport.module;[
<!ENTITY % BibTeXML.techreport.standard.fields
   "%author.qname;, %title.qname;, %institution.qname;,
    %year.qname;, %type.qname;?, %number.qname;?,
    %address.qname;?, %month.qname;?, %note.qname;?">
<!ENTITY % BibTeXML.techreport.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.techreport.fields
   "%BibTeXML.techreport.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.techreport.additional.fields;">
<!ENTITY % BibTeXML.techreport.element "INCLUDE">
<![%BibTeXML.techreport.element;[
<!ELEMENT %techreport.qname; (%BibTeXML.techreport.fields;)>
]]>
]]>


<!-- [unpublished] A document having an author and title, but not
  -  formally published.  
  -  Required fields: author, title, note.
  -  Optional fields: month, year. -->

<!ENTITY % BibTeXML.unpublished.module "INCLUDE">
<![%BibTeXML.unpublished.module;[
<!ENTITY % BibTeXML.unpublished.standard.fields
   "%author.qname;, %title.qname;, %note.qname;,
    %month.qname;?, %year.qname;?">
<!ENTITY % BibTeXML.unpublished.additional.fields
   "%BibTeXML.additional.fields;">
<!ENTITY % BibTeXML.unpublished.fields
   "%BibTeXML.unpublished.standard.fields;
    %BibTeXML.common.standard.fields;
    %BibTeXML.unpublished.additional.fields;">
<!ENTITY % BibTeXML.unpublished.element "INCLUDE">
<![%BibTeXML.unpublished.element;[
<!ELEMENT %unpublished.qname; (%BibTeXML.unpublished.fields;)>
]]>
]]>


<!-- ..................................................................... -->
<!-- Fields from the standard bibliography styles -->

<!--
  - Below is a description of all fields recognized by the standard
  - bibliography styles.  An entry can also contain other fields, which
  - are ignored by those styles.
  - 
  - [address] Usually the address of the publisher or other type of
  - institution  For major publishing houses, van~Leunen recommends
  - omitting the information entirely.  For small publishers, on the other
  - hand, you can help the reader by giving the complete address.
  - 
  - [annote] An annotation  It is not used by the standard bibliography
  - styles, but may be used by others that produce an annotated
  - bibliography.
  - 
  - [author] The name(s) of the author(s), in the format described in the
  - LaTeX book.
  - 
  - [booktitle] Title of a book, part of which is being cited.  See the
  - LaTeX book for how to type titles.  For book entries, use the title
  - field instead.
  - 
  - [chapter] A chapter (or section or whatever) number.
  - 
  - [crossref] The database key of the entry being cross referenced.
  - 
  - [edition] The edition of a book-for example, ``Second''.  This
  - should be an ordinal, and should have the first letter capitalized, as
  - shown here; the standard styles convert to lower case when necessary.
  - 
  - [editor] Name(s) of editor(s), typed as indicated in the LaTeX book.
  - If there is also an author field, then the editor field gives the
  - editor of the book or collection in which the reference appears.
  - 
  - [howpublished] How something strange has been published.  The first
  - word should be capitalized.
  - 
  - [institution] The sponsoring institution of a technical report.
  - 
  - [journal] A journal name.  Abbreviations are provided for many
  - journals; see the Local Guide.
  - 
  - [key] Used for alphabetizing, cross referencing, and creating a label
  - when the ``author'' information (described in Section [ref: ] is
  - missing. This field should not be confused with the key that appears
  - in the \cite command and at the beginning of the database entry.
  - 
  - [month] The month in which the work was published or, for an
  - unpublished work, in which it was written  You should use the
  - standard three-letter abbreviation, as described in Appendix B.1.3 of
  - the LaTeX book.
  - 
  - [note] Any additional information that can help the reader.  The first
  - word should be capitalized.
  - 
  - [number] The number of a journal, magazine, technical report, or of a
  - work in a series.  An issue of a journal or magazine is usually
  - identified by its volume and number; the organization that issues a
  - technical report usually gives it a number; and sometimes books are
  - given numbers in a named series.
  - 
  - [organization] The organization that sponsors a conference or that
  - publishes a manual.
  - 
  - [pages] One or more page numbers or range of numbers, such as 42-111
  - or 7,41,73-97 or 43+ (the `+' in this last example indicates pages
  - following that don't form a simple range).  To make it easier to
  - maintain Scribe-compatible databases, the standard styles convert a
  - single dash (as in 7-33) to the double dash used in TeX to denote
  - number ranges (as in 7-33).
  - 
  - [publisher] The publisher's name.
  - 
  - [school] The name of the school where a thesis was written
  - 
  - [series] The name of a series or set of books.  When citing an entire
  - book, the the title field gives its title and an optional series field
  - gives the name of a series or multi-volume set in which the book is
  - published.
  - 
  - [title] The work's title, typed as explained in the LaTeX book.
  - 
  - [type] The type of a technical report-for example, ``Research Note''.
  - 
  - [volume] The volume of a journal or multivolume book.
  - 
  - [year] The year of publication or, for an unpublished work, the year
  - it was written.  Generally it should consist of four numerals, such as
  - 1984, although the standard styles can handle any year whose last four
  - nonpunctuation characters are numerals, such as `(about 1984)'.
-->


<!ENTITY % BibTeXML.address.element "INCLUDE">
<![%BibTeXML.address.element;[
<!ELEMENT %address.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.author.element "INCLUDE">
<![%BibTeXML.author.element;[
<!ELEMENT %author.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.booktitle.element "INCLUDE">
<![%BibTeXML.booktitle.element;[
<!ELEMENT %booktitle.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.chapter.element "INCLUDE">
<![%BibTeXML.chapter.element;[
<!ELEMENT %chapter.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.edition.element "INCLUDE">
<![%BibTeXML.edition.element;[
<!ELEMENT %edition.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.editor.element "INCLUDE">
<![%BibTeXML.editor.element;[
<!ELEMENT %editor.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.howpublished.element "INCLUDE">
<![%BibTeXML.howpublished.element;[
<!ELEMENT %howpublished.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.institution.element "INCLUDE">
<![%BibTeXML.institution.element;[
<!ELEMENT %institution.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.journal.element "INCLUDE">
<![%BibTeXML.journal.element;[
<!ELEMENT %journal.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.month.element "INCLUDE">
<![%BibTeXML.month.element;[
<!ELEMENT %month.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.note.element "INCLUDE">
<![%BibTeXML.note.element;[
<!ELEMENT %note.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.number.element "INCLUDE">
<![%BibTeXML.number.element;[
<!ELEMENT %number.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.organization.element "INCLUDE">
<![%BibTeXML.organization.element;[
<!ELEMENT %organization.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.pages.element "INCLUDE">
<![%BibTeXML.pages.element;[
<!ELEMENT %pages.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.publisher.element "INCLUDE">
<![%BibTeXML.publisher.element;[
<!ELEMENT %publisher.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.school.element "INCLUDE">
<![%BibTeXML.school.element;[
<!ELEMENT %school.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.series.element "INCLUDE">
<![%BibTeXML.series.element;[
<!ELEMENT %series.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.title.element "INCLUDE">
<![%BibTeXML.title.element;[
<!ELEMENT %title.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.type.element "INCLUDE">
<![%BibTeXML.type.element;[
<!ELEMENT %type.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.volume.element "INCLUDE">
<![%BibTeXML.volume.element;[
<!ELEMENT %volume.qname; (#PCDATA)>
]]>

<!ENTITY % BibTeXML.year.element "INCLUDE">
<![%BibTeXML.year.element;[
<!ELEMENT %year.qname; (#PCDATA)>
]]>

<!--
  - In addition to the fields listed above, each entry type also has
  - an optional key field, used in some styles for alphabetizing, or
  - for forming a \bibitem label. You should include a key field for
  - any entry whose ``author'' information is missing;
-->

<!ENTITY % BibTeXML.key.element "INCLUDE">
<![%BibTeXML.key.element;[
<!ELEMENT %key.qname; (#PCDATA)>
]]>

<!--
  - BibTEX has a new cross-referencing feature, explained by an example.
  -    @INPROCEEDINGS(no-gnats,
  -        crossref = "gg-proceedings",
  -    @PROCEEDINGS(gg-proceedings,
-->

<!ENTITY % BibTeXML.crossref.element "INCLUDE">
<![%BibTeXML.crossref.element;[
<!ELEMENT %crossref.qname; (#PCDATA)>
]]>

<!--
  - Annotation is not used by the standard bibliography styles,
  - if you prefer otherwise, incude it in BibTeXML.common.standard.fields
-->

<!ENTITY % BibTeXML.annote.element "INCLUDE">
<![%BibTeXML.annote.element;[
<!ELEMENT %annote.qname; (#PCDATA)>
]]>


<!-- ..................................................................... -->
<!-- Predefined/reserved character entities -->

<!ENTITY amp    "&#38;#38;">
<!ENTITY lt     "&#38;#60;">
<!ENTITY gt     "&#62;">
<!ENTITY apos   "&#39;">
<!ENTITY quot   "&#34;">


<!-- ..................................................................... -->
<!-- End of bibtex dtd -->
